* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

.container {
  width: 500px;
  height: 700px;
  margin: 100px auto;
  background-color: #32d74b;
}

ul {
  position: relative;
  list-style-type: none;
}
/* 3 item 5deg */
/* 2 item 3.33deg */
/* 4 item 3.33deg */
.wrapper {
  transform: rotate(calc(6 * 5deg / 3));
  transform-origin: calc(140px / 2) calc(230px + 110px);
}
li {
  position: absolute;
  transform-origin: calc(140px / 2) calc(230px + 110px);
}
.item {
  transition: transform 1s ease-out;
  -webkit-transition: transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  -ms-transition: transform 1s ease-out;
  -o-transition: transform 1s ease-out;
}
/* li:nth-child(1) {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}
li:nth-child(2) {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
li:nth-child(3) {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
li:nth-child(4) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
li:nth-child(5) {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
li:nth-child(6) {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
} */

.image {
  width: 140px;
  height: 230px;
  background-color: #aeaeb2;
  border: 1px solid #ff2d55;
  border-radius: 23px;
}
