%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#footer {
  padding: 3.2rem 0;
  @include margin-div(top, 1.6rem);
  a:hover {
    color: #FF3B30;
    text-decoration: underline;
    -webkit-text-decoration-color: #FF3B30;
    text-decoration-color: #FF3B30;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    &.icon-social-item {
      transform: scale(1.8);
    }
  }
  .icon-social {
    width: 100%;
    padding: 1.1rem 0;
    @extend %flex-center;
    @include margin-div(left, 4rem);
    .icon-social-item {
      width: $footer-icon;
      height: $footer-icon;
      transition: transform .3s ease-out;
    }
    .social:hover {
      &:nth-child(1) a{
        color: #4267B2
      }
      &:nth-child(2) a{
        color: #FF9500;
      }
      &:nth-child(3) a{
        color: #6441a5;
      }
      &:nth-child(4) a{
        color: #1DA1F2
      }
      &:nth-child(5) a{
        color: #FF0000;
      }
    }
  }
  .navigation {
    width: 100%;
    padding: 1.2rem 0;
    @extend %flex-center;
    @include margin-div(left, 1.6rem);
    + .navigation {
      margin-top: 0;
    }
  }
  .movie-store {
    width: 100%;
    padding: 1.2rem 0;
    @extend %flex-center;
    @include margin-div(left, 1.6rem);
    + .movie-store {
      margin-top: 0;
    }
    .logo {
      height: 2.4rem;
    }
  }
  .copyright {
    width: 100%;
    @extend %flex-center;
    color: $footer-color-secondary;
  }
}