:root {
  --bs-gutter-x: #{$bs-gutter-x};
  --bs-gap: #{$bs-gap};
  --html-font-size: #{$html-font-size};
  --body-font-family: #{$body-font-family};
  --body-font-size: #{$body-font-size};
  --body-font-weight: #{$body-font-weight};
  --body-font-style: #{$body-font-style};
  --body-line-height: #{$body-line-height};
  --body-color: #{$body-color};
  --body-bg: #{$body-bg};
}