$text-line-number-root: --line-number;

.text-1line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%text-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: var(#{$text-line-number-root});
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipse;
}
@for $i from 2 through 6{
  .text-#{$i}lines {
    @extend %text-multi-line;
    #{$text-line-number-root}: #{$i};
  }
}
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}