@mixin border-radius($round: 0.3rem) {
  border-radius: $round;
  -webkit-border-radius: $round;
  -moz-border-radius: $round;
  -ms-border-radius: $round;
  -o-border-radius: $round;
}

@mixin transition($name, $time, $cubic: '') {
  transition: $name $time #{$cubic};
  -webkit-transition: $name $time #{$cubic};
  -moz-transition: $name $time #{$cubic};
  -ms-transition: $name $time #{$cubic};
  -o-transition: $name $time #{$cubic};
}
@mixin transform($val) {
  transform: $val;
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
}
@mixin margin-div($pos, $margin) {
  > div + div {
    margin-#{$pos}: $margin;
  }
}
@mixin margin-child($pos, $margin) {
  > * {
    margin-#{$pos}: $margin;
  }
}
@mixin opacity($val) {
  opacity: $val;
}
@mixin padding-btn($size) {
  padding: $size calc($size * 2.8);
}
@mixin text-truncate($numberLine: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $numberLine != null {
    display: -webkit-box;
    -webkit-line-clamp: $numberLine;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}
@mixin img-fluid {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}
@mixin absolute-full() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@mixin fixed-full() {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
