$scroll-width-x-root: --scroll-width-x;
$scroll-width-y-root: --scroll-width-y;

.scroll-x {
  #{$scroll-width-x-root}: $scroll-width;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar-thumb {
    background-image: $scroll-thumb-bg-x;
  }
}
.scroll-y {
  #{$scroll-width-y-root}: $scroll-width;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  &::-webkit-scrollbar {
    width: var(#{$scroll-width-y-root}, $scroll-width);
    height: var(#{$scroll-width-x-root}, auto);
  }
  &::-webkit-scrollbar-track {
    background-color: $scroll-track-bg;
    @include border-radius($scroll-width);
  }
  &::-webkit-scrollbar-thumb {
    border: $scroll-thumb-border-width solid $scroll-track-bg;
    background-image: $scroll-thumb-bg-y;
    @include border-radius($scroll-width);
  }
}