$html-font-size: 62.5%;

$body-font-family: 'SegoeUI', sans-serif;
$body-font-size: 1.6rem;
$body-font-weight: 400;
$body-font-style: normal;
$body-line-height: 1.5;
$body-color: #f1f1f1;
$body-bg: #181818;

$scroll-width: 1rem;
$scroll-track-bg: #181818;
$scroll-thumb-border-width: 0.2rem;
$scroll-thumb-bg-x: linear-gradient(to left, #e30813, #b70045, #791b53, #3c2341, #181818);
$scroll-thumb-bg-y: linear-gradient(to top, #e30813, #b70045, #791b53, #3c2341, #181818);

$text-gutter-x: 1.6rem;

$part-gutter-y: .8rem;

$form-control-color: #f1f1f1;
$form-control-disabled: #959495;

$input-bg-secondary: #f5f5f5;
$input-height: 2.4rem;
$input-border: .2rem;
$input-rounded: .4rem;

$btn-padding-y: 1.1rem;
$btn-padding-x: $btn-padding-y * 2;
$btn-bg-trailer: rgba(0, 0, 0, 0.7);

$pending-bg: #ffffff4d;
$pending-delay: .2s;
$pending-h: 3rem;
$pending-p: 2.4rem;

$z-index-card-home-hover: 3;

$card-home-height: 25rem;
$card-home-time-duration: .5s;
$card-home-width: 16.6rem;
$card-gutter: 2.4rem;
$card-home-width-hover: $card-home-width * 2 + $card-gutter;
$card-home-content-hover-padding: 1.6rem;
$card-icon-width-start: 1.6rem;
$card-round: .4rem;
$card-overlay-hover: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.5) 100%);
$card-bg-sub: #ffffff4d;

$footer-icon: 2.4rem;
$footer-color-secondary: #737373;

$slide-width: 1760px;

$color-primary: #E30813;
$color-secondary: #181818;
$color-tertiary: #222222;
$color-while: #f5f5f5;
$color-gray: #737373;
$color-border-top: #333;
$color-border: #333;

$bs-gap: 2.4rem;
$bs-gutter-x: calc($bs-gap / 2);

$grid-breakpoints: (
  xs: 0,
  sm: 36em, // 576px,
  md: 48em, // 768px,
  lg: 62em, // 992px,
  xl: 75em, // 1200px,
  xxl: 87.5em, // 1400px
) !default;

$container-max-widths: (
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
) !default;

$sm: 36em; // 576px,
$md: 48em; // 768px,
$lg: 62em; // 992px,
$xl: 75em; // 1200px,
$xxl: 87.5em; // 1400px

$variable-prefix: bs- !default;
$grid-gutter-width: 1.5rem !default;
$container-padding-x: $grid-gutter-width * .5 !default;
$enable-grid-classes: true !default;

$enable-cssgrid: true !default;
$grid-columns: 12 !default;

$header-gap-y: 2.4rem;
$header-bg-color: $color-tertiary;
$header-color: $color-gray;
$header-logo-height: 3rem;
$header-logo-width: 14rem;

$side-bar-color: $color-gray;
$side-bar-bg-color: $color-tertiary;
$side-bar-width: 28rem;
$side-bar-gap-y: 2.4rem;
$side-bar-gap-x: 1.2rem;
$side-bar-radius: 1rem;

$color-hover: #5B5A5F;
$border-radius-out: 1.1rem;
$border-radius-in: .8rem;

$color-loading: #333;
$color-disabled: #393939;
$color-placeholder: #a9a9a9;
$color-normal: #333;
$color-actived: #5B5A5F;

/* *__________ Start card-movie-2 __________ */

/* __________ End card-movie-2 __________ */