%section {
  background: $color-secondary;
  border-top: 1rem solid $color-tertiary;
  padding-block: 4.5rem;
}
.home1__main {
  /* *__________ Start section 1 __________ */
  .home__section-2,
  .home__section-1 {
    @extend %section;
    .section-2,
    .section-1 {
      display: flex;
      align-items: center;
      row-gap: 5rem;
      justify-content: center;
      flex-flow: column;
      @media (min-width: $md) {
        text-align: start;
        flex-flow: row;
        justify-content: space-evenly;
      }
      &__text {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 2rem;
        font-weight: bold;
        @media (min-width: $md) {
          align-items: flex-start;
        }
        p {
          width: 34rem;
          text-align: center;
          @media (min-width: $md) {
            width: 37rem;
            text-align: left;
          }
        }
        .sign-up__link {
          display: flex;
          align-items: center;
          column-gap: 1rem;
          color: $color-primary;
          justify-content: center;
          @media (min-width: $md) {
            justify-content: start;
          }
          &:hover {
            > .arrow__icon {
              transform: translateX(4px);
            }
          }
          .arrow__icon {
            margin-bottom: -4px;
            transition: transform 0.3s;
          }
        }
      }
      &__gift {
        position: relative;
        .gift__shadow {
          position: absolute;
          left: 50%;
          bottom: -45px;
          width: 100%;
          height: 5rem;
          transform: translateX(-50%);
          background: radial-gradient(50% 50% at 50% 50%, #00000069 0%, #00000000 100%);
        }
        .gift__list {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2.4rem;
          max-width: 28.8rem;
          flex-flow: row wrap;
          @media (min-width: $sm) {
            max-width: 42rem; 
          }
          @media (min-width: $lg) {
            max-width: 45rem; 
          }
          .gift__item {
            position: relative;
            width: 13.2rem;
            overflow: hidden;
            @media (min-width: $sm) {
              &:hover {
                > .movie__title {
                  opacity: 1;
                }
                > .movie__overlay {
                  opacity: 1;
                }
              }
            }
            .movie__link {
              display: block;
              width: 100%;
              height: 100%;
            }
            .movie__overlay {
              display: none;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(0deg, #000000c7 0%, #0000006e 50.52%, #000000c2 100%);
              transition: opacity 0.3s;
              @media (min-width: $sm) {
                display: block;
              }
            }
            .movie__title {
              @include text-truncate(2);
              font-weight: bold;
              position: absolute;
              left: 1rem;
              bottom: 1rem;
              width: calc(100% - 2rem);
              opacity: 0;
              transition: opacity 0.3s;
            }
          }
        }
      }
    }
  }
  /* __________ End section 1 __________ */

  /* *__________ Start section 2 __________ */
  .home__section-2 {
    .section-2__gift {
      @media (max-width: $md) {
        order: 2;
      }
    }
    .section-2__text {
      @media (max-width: $md) {
        order: 1;
      }
    }
  }
  /* __________ End section 2 __________ */

  /* *__________ Start section3 __________ */
  .home__section-3 {
    @extend %section;
    .section-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      row-gap: 2.4rem;
      text-align: center;
      margin: 0 auto;
      max-width: 44rem;
      padding-inline: 1rem
    }
  }
  /* __________ End section3 __________ */

  /* *__________ Start section 4 __________ */
  .home__section-4 {
    @extend %section;
    padding-bottom: 0;
    .section-4 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: column;
      text-align: center;
      overflow: hidden;
      @media (min-width: $md) {
        overflow: visible;
        text-align: left;
        flex-flow: row;
        justify-content: space-evenly;
      }
      &__text {
        max-width: 44.6rem;
        display: flex;
        flex-flow: column;
        row-gap: 2.4rem;
        @media (min-width: $md) {
          max-width: 28.6rem;
        }
        @media (min-width: $lg) {
          max-width: 30.6rem;
        }
        .download-app__btn {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 2.4rem;
          @media (min-width: $md) {
            justify-content: flex-start;
          }
          [class$=__icon] {
            width: 13rem;
            height: 4rem;
          }
        }
      }
      &__image {
        max-width: 90rem;
        overflow: hidden;
        height: 29rem;
        @media (min-width: $md) {
          transform: translateX(3rem);
        }
        @media (min-width: $xl) {
          height: 38rem;
        }
        .app-movie__img {
          transform: translateY(3.6rem);
          max-width: 90rem;
          height: 50rem;
        }
      }
    }
  }
  /* __________ End section 4 __________ */

  /* *__________ Start section 5 __________ */
  .home__section-5 {
    @extend %section;
    .section-5 {
      padding-block: 2rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      row-gap: 2.4rem;
      text-align: center;
      .section-5__form {
        width: 100%;
        display: flex;
        flex-flow: column;
        row-gap: 2.4rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 10.8rem;
        @media (min-width: $md) {
          border-radius: 1.1rem;
          width: 50rem;
        }
        @media (min-width: $lg) {
          height: 4.3rem;
          flex-flow: row;
          width: 60rem;
        }
        .email__input {
          color: $color-tertiary;
          height: 100%;
          width: 100%;
          padding-left: 2rem;
          @media (max-width: $lg) {
            border-radius: 1.1rem;
          }
        }
        .signup__btn {
          height: 100%;
          justify-content: center;
          align-items: center;
          width: 15rem;
          font-weight: bold;
          color: $color-while;
          background: $color-primary;
          @media (max-width: $lg) {
            border-radius: 1.1rem;
          }
        }
      }
    }
  }
  /* __________ End section 5 __________ */
}

