#detail__main {
  width: 100%;
  position: sticky;
  top: 0;
  /* *__________ Start detail nav __________ */
  .main__nav {
    width: 100%;
    margin-block: 4.4rem;
    background: $color-tertiary;
    border-radius: $border-radius-out;
    overflow: hidden;
    .nav__list {
      padding-inline: .3rem;
      height: 4.9rem;
      display: flex;
      align-items: center;
      column-gap: .5rem;
      @media (max-width: $md) {
        justify-content: space-evenly;
        column-gap: 0;
      }
      .nav__item {
        position: relative;
        // font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: $md) {
          width: 100%;
        }
        @media (max-width: $md) {
          &:last-child,
          &:first-child {
            display: none;
          }
        }
        .nav__btn {
          @media (max-width: $md) {
            width: 100%;
            padding-inline: 0;
          }
          height: calc(100% - .6rem);
          padding-inline: 2.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            border-radius: $border-radius-in;
            background-color: #333;
          }
          &.nav--active {
            border-radius: $border-radius-in;
            background-color: $color-hover;
          }
          .title-dtk--change {
            display: none;
            @media (min-width: $sm) {
              display: block;
            }
          }
          .title-mobi--change {
            display: block;
            @media (min-width: $sm) {
              display: none;
            }
          }
          &.reset__btn {
            .reset__icon {
              margin-bottom: -6px;
            }
          }
        }
        .nav__reset {
          display: none;
        }
      }
    }
    .nav__result {
      display: none;
      opacity: 0;
      transition: opacity .3s .5s;
      width: 100%;
      height: 0;
      background: #252525;
      transition: height .3s ease-out;
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      .result__main {
        height: 15.5rem;
        overflow-y: auto;
        overflow-x: hidden;
        @media (min-width: $sm) {
          margin-right: -10px;
        }
        .result__grid {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
          @media (min-width: $md) {
            grid-template-columns: repeat(3, 1fr);
          }
          @media (min-width: $lg) {
            grid-template-columns: repeat(4, 1fr);
          }
          @media (min-width: $xl) {
            grid-template-columns: repeat(5, 1fr);
          }
          .result__item {
            @include text-truncate();
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.3rem;
            width: 100%;
            border-radius: $border-radius-in;
            &:hover {
              background: $color-hover;
            }
            &.result__item--active {
              border-radius: $border-radius-in;
              background-color: $color-hover;
            }
          }
        }
      }
      .result__form {
        padding-block: 1rem 0;
        border-top: thin solid $color-border;
        display: flex;
        justify-content: center;
        column-gap: 2.4rem;
        .reset__btn,
        .apply__btn {
          height: 4.3rem;
          width: 10rem;
          border-radius: $border-radius-out;
          background: #333;
          color: $color-gray;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: $color-while;
            background: $color-hover;
          }
        }
        .reset__btn {
          display: none;
        }
        .result__input {
          background-color: #333;
          color: $color-gray;
          border-radius: $border-radius-in;
          padding: 1rem;
          &:focus {
            background: #444;
            color: $color-while;
          }
        }
        .nation__input {
          display: none;
        }
        .year__input {
          display: none;
        }
      }
    }
  }
  /* __________ End detail nav __________ */
}