<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="container">
    <div class="banner-card__item">
      <a href="#" class="movie__link">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/xeg0UhMmzSalvyK7kvhTHcKXIf8.jpg" class="movie__poster" loading="lazy">
        <div class="card__overlay"></div>
        <h6 class="movie__title">Thế giới khủng long</h6>
      </a>
    </div>
  </div>
</body>
</html>