<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
  <header id="header">
    <div class="top">
      <div class="container">
        <div class="header-top">
          <a href="#" class="btn logo">
            <img src="../../imgs/logo.png" alt="movie store">
          </a href="#">
  
          <button class="btn login-btn">Đăng nhập</button>
        </div>
      </div>
    </div>

    <div class="header-main">
      <!-- <div class="pending-bg"></div> -->
      <div class="header-shadow"></div>

      <div class="header-text">
        <div class="h1 title">Xem phim không giới hạn và còn hơn thế nữa.</div>
        <div class="h5">Xem ở bất cứ đâu. Hủy bất cứ lúc nào.</div>
        <p>Bạn đã sẵn sàng xem chưa? Nhập email của bạn để tạo hoặc bắt đầu lại với tư cách thành viên.</p>
        <form class="form-input">
          <input type="text" placeholder="Địa chỉ email của bạn" class="email-input">
          <button class="get-started h5">Bắt đầu
            <svg>
              <use href='../../imgs/icons.svg#icon-right'></use>
            </svg>
          </button>
        </form>
      </div>

      <div class="main-wrap">
        <div class="main-content">
          <div class="slide-container">
            <div class="slide-wrap">
              <div class="header-layout">
                <div class="row-grid">
                  <!-- render code -->
                </div>
                <div class="row-grid">
                  <!-- render code -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </header>

  

  <script type="module" src="../../js/header.js"></script>
</body>
</html>