<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <div class="home__card">
      <div class=" container card__container">
        <div class="card__wrapper">
          <!-- <div class="card__list">
            <div class="card__item">
              <div class="card__image">
                <img
                  src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                  alt="Minions: Sự Trỗi Dậy của Gru"
                  class="card__img poster__img"
                  loading="lazy"
                />
                <div class="card__hover">
                  <img
                    src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                    alt="Minions: Sự Trỗi Dậy của Gru"
                    class="backdrop__img"
                    loading="lazy"
                  />
  
                  <div class="card__overlay"></div>
  
                  <button class="card__btn wishlist__btn card__btn--wishlist">
                    <svg class="card__icon wishlist__icon">
                      <use href="../../imgs/icons.svg#icon-bookmark"></use>
                    </svg>
                  </button>
  
                  <div class="card-hover__info">
                    <a href="#" class="card__link movie__link"> Minions: Sự Trỗi Dậy của Gru</a>
  
                    <p class="card-hover__para"><span>1h 30p</span> - <span>2022</span> - <span>Chỉ từ 80.000 đ</span></p>
  
                    <a href="#" class="card__link trailer__link">Trailer</a>
                  </div>
                </div>
              </div>
  
              <div class="card__info">
                <a href="#" class="card__link movie__link"> Minions: Sự Trỗi Dậy của Gru </a>
  
                <p class="card__para">
                  <span>7.0</span>
  
                  <svg class="card__icon star__icon">
                    <use href="../../imgs/icons.svg#icon-star-fill"></use>
                  </svg>
  
                  <span>80.000 đ</span>
                </p>
              </div>
  
              <a href="#" class="card__link card-mobile__link"></a>
            </div>
          </div> -->
        </div>

        <button class="control-left__btn">
          <svg class="control-left__icon">
            <use href="../../imgs/icons.svg#icon-left-circle"></use>
          </svg>
        </button>

        <button class="control-right__btn">
          <svg class="control-right__icon">
            <use href="../../imgs/icons.svg#icon-right-circle"></use>
          </svg>
        </button>
      </div>
    </div>

    <script src="../../js/components/card.js"></script>
  </body>
</html>
