<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer__icon">
          <a href="#" class="social-icon__link">
            <svg>
              <use href="../../imgs/icons.svg#icon-facebook"></use>
            </svg>
          </a>
  
          <a href="#" class="social-icon__link">
            <svg>
              <use href="../../imgs/icons.svg#icon-instagram"></use>
            </svg>
          </a>
  
          <a href="#" class="social-icon__link">
            <svg>
              <use href="../../imgs/icons.svg#icon-twitch"></use>
            </svg>
          </a>
  
          <a href="#" class="social-icon__link">
            <svg>
              <use href="../../imgs/icons.svg#icon-twitter"></use>
            </svg>
          </a>
  
          <a href="#" class="social-icon__link">
            <svg>
              <use href="../../imgs/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
  
        <div class="footer__nav">
          <a href="#">Trang chủ</a>
  
          <a href="#">Phim mới</a>
  
          <a href="#">Phim sắp phát hành</a>
  
          <a href="#">Tin tức</a>
  
          <a href="#">Người nổi tiếng</a>
  
          <a href="#">Trailer mới</a>
        </div>
  
        <div class="footer__nav">
          <a href="#">Tài khoản</a>
  
          <a href="#">Phim của tôi</a>
  
          <a href="#">Danh sách mong muốn</a>
  
          <a href="#">Lịch sử đã xem</a>
        </div>
  
        <div class="footer__moviestore">
          <a href="#" class="ms-logo">
            <svg>
              <use href="../../imgs/icons.svg#icon-moviestore"></use>
            </svg>
          </a>
        </div>
  
        <div class="footer__moviestore">
          <a href="#">Thông tin</a>
  
          <a href="#">Giới thiệu</a>
  
          <a href="#">Liên hệ: 1900 **00</a>
        </div>
  
        <p class="footer__copyright">&copy;2022 by CD</p>
        
      </div>
    </footer>
  </body>
</html>
