<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.min.css" />
  </head>
  <body>
    <div class="header__account">
      <ul class="account__list">
        <div class="account__link">
          <div class="account__status"></div>
          <div class="account__info">
            <p>Hi, anhdai9966</p>
            <p>3200 xu</p>
          </div>
        </div>

        <li class="account__item">
          <a href="#" class="account__link">
            <svg class="account__icon">
              <use href="../../imgs/icons.svg#icon-person"></use>
            </svg>
            <span>Tài khoản của tôi</span>
          </a>
        </li>

        <li class="account__item">
          <a href="#" class="account__link">
            <svg class="account__icon">
              <use href="../../imgs/icons.svg#icon-film"></use>
            </svg>
            <span>Phim của tôi</span>
          </a>
        </li>

        <li class="account__item">
          <a href="#" class="account__link">
            <svg class="account__icon">
              <use href="../../imgs/icons.svg#icon-bookmark"></use>
            </svg>
            <span>Danh sách mong muốn</span>
          </a>
        </li>

        <li class="account__item">
          <a href="#" class="account__link">
            <svg class="account__icon">
              <use href="../../imgs/icons.svg#icon-history"></use>
            </svg>
            <span>Lịch sử đã xem</span>
          </a>
        </li>

        <li class="account__item">
          <a href="#" class="account__link">
            <svg class="account__icon">
              <use href="../../imgs/icons.svg#icon-door-out"></use>
            </svg>
            <span>Đăng xuất</span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
