<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item hidden-lg">
              <button class="nav__btn sidebar__btn--show">
                <svg class="nav__icon">
                  <use href="../../imgs/icons.svg#icon-menu"></use>
                </svg>
              </button>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__logo">
                <img src="../../imgs/logo.png" alt="logo moviestore" />
              </a>
            </li>

            <li class="nav__item shown-lg">
              <button class="nav__btn movie__btn--toggle">
                <span>Phim</span>
                <svg class="nav__icon--small">
                  <use href="../../imgs/icons.svg#icon-caret"></use>
                </svg>
              </button>
              <div class="nav-popup__main"></div>
            </li>

            <div class="nav__item shown-lg">
              <a href="#" class="nav__link">Trailer</a>
            </div>

            <div class="nav__item shown-lg">
              <a href="#" class="nav__link">Tin tức</a>
            </div>

            <li class="nav__item shown-lg">
              <button class="nav__btn">
                <span>Hơn Nữa</span>
                <svg class="nav__icon--small">
                  <use href="../../imgs/icons.svg#icon-caret"></use>
                </svg>
              </button>
            </li>
          </ul>

          <ul class="nav__list">
            <li class="nav__item shown-sm">
              <button class="nav__btn">
                <svg class="nav__icon">
                  <use href="../../imgs/icons.svg#icon-bookmark"></use>
                </svg>
              </button>
            </li>

            <li class="nav__item">
              <button class="nav__btn">
                <svg class="nav__icon">
                  <use href="../../imgs/icons.svg#icon-user"></use>
                </svg>
              </button>
            </li>

            <li class="nav__item">
              <button class="nav__btn">
                <svg class="nav__icon">
                  <use href="../../imgs/icons.svg#icon-search"></use>
                </svg>
              </button>
            </li>

            <li class="nav__item hidden">
              <button class="signIn__btn">Đăng nhập</button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
