<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body style="height: 2000px; background-color: green;">
    <div class="header__sidebar">
      <div class="sidebar">
        <div class="sidebar__link">
          <button class="sidebar__btn--hide">
            <svg class="sidebar__icon">
              <use href="../../imgs/icons.svg#icon-menu"></use>
            </svg>
          </button>
  
          <a href="#" class="sidebar__logo">
            <img src="../../imgs/logo.png" alt="logo moviestore"/>
          </a>
        </div>
  
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-home"></use>
              </svg>
              <span>Trang chủ</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-movie-new"></use>
              </svg>
              <span>Phim Mới</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <button class="sidebar__btn category__btn--show">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-select-all"></use>
              </svg>
              <span>Thể loại</span>
            </button>
          </li>
  
          <li class="sidebar__item">
            <button class="sidebar__btn nation__btn--show">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-globe"></use>
              </svg>
              <span>Quốc gia</span>
            </button>
          </li>
  
          <li class="sidebar__item">
            <button class="sidebar__btn release-year__btn--show">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-calendar"></use>
              </svg>
              <span>Năm phát hành</span>
            </button>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-flame-fill"></use>
              </svg>
              <span>Phim thịnh hành</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-list"></use>
              </svg>
              <span>Bảng xếp hạng</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-calendar-time"></use>
              </svg>
              <span>Phim sắp phát hành</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-news"></use>
              </svg>
              <span>Tin tức</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-user"></use>
              </svg>
              <span>Người nổi tiếng</span>
            </a>
          </li>
  
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">
              <svg class="sidebar__icon">
                <use href="../../imgs/icons.svg#icon-youtube"></use>
              </svg>
              <span>Trailer mới</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</body>
</html>