<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__nav">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item show-lg">
                <button class="nav__btn side-bar__btn--show">
                  <svg class="nav__icon side-bar__icon">
                    <use href="../../imgs/icons.svg#icon-menu"></use>
                  </svg>
                </button>
              </li>
              <li class="nav__item">
                <a href="#" class="home__link">
                  <img src="../../imgs/logo.png" alt="logo moviestore" class="header__logo" />
                </a>
              </li>
              <li class="nav__item hide-lg">
                <a href="#" class="now-playing__link">Phim Mới</a>
              </li>
              <div class="nav__item hide-lg">
                <button class="category__btn category__btn--show">Thể Loại</button>
              </div>
              <li class="nav__item hide-lg">
                <a href="#" class="news__link">Tin Tức</a>
              </li>
              <li class="nav__item nav-more__item hide-lg">
                <button class="nav-more__btn nav-more__btn--show">
                  <span>Hơn Nữa</span>
                  <svg class="nav__icon nav-more__icon">
                    <use href="../../imgs/icons.svg#icon-caret"></use>
                  </svg>
                </button>

                <!-- *__________ Start nav-more __________ -->
                <nav class="nav-more__popup">
                  <ul class="more__list">
                    <li class="more__item">
                      <button class="more__btn">Quốc gia</button>
                    </li>
                    <li class="more__item">
                      <button class="more__btn">Năm Phát Hành</button>
                    </li>
                    <li class="more__item">
                      <a href="#" class="more__link">Phim Thịnh Hành</a>
                    </li>
                    <li class="more__item">
                      <a href="#" class="more__link">Bảng Xếp Hạng</a>
                    </li>
                    <li class="more__item">
                      <a href="#" class="more__link">Phim Sắp Phát Hành</a>
                    </li>
                    <li class="more__item">
                      <a href="#" class="more__link">Người Nổi Tiếng</a>
                    </li>
                    <li class="more__item">
                      <a href="#" class="more__link">Trailer mới</a>
                    </li>
                  </ul>
                </nav>
                <!-- __________ End nav-more __________ -->
              </li>
            </ul>
          </nav>

          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item nav-wishlist__item hide-sm">
                <button class="nav__btn nav__btn--wishlist">
                  <svg class="nav__icon">
                    <use href="../../imgs/icons.svg#icon-bookmark"></use>
                  </svg>
                </button>
              </li>

              <li class="nav__item account__item">
                <button class="nav__btn nav__btn--account">
                  <svg class="nav__icon">
                    <use href="../../imgs/icons.svg#icon-user"></use>
                  </svg>
                </button>
              </li>

              <li class="nav__item">
                <button class="nav__btn nav__btn--search">
                  <svg class="nav__icon">
                    <use href="../../imgs/icons.svg#icon-search"></use>
                  </svg>
                </button>
              </li>

              <li class="nav__item">
                <button class="nav__btn signin__btn nav__btn--signin">Đăng nhập</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
