<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.min.css" />
  </head>
  <body>
    <!-- <li><hr class="dropdown-divider"></li> -->
    <ul class="dropdown__menu">
      <li class="dropdown__item">
        <button class="dropdown__btn">Thể loại</button>
      </li>
      <li class="dropdown__item">
        <button class="dropdown__btn">Quốc gia</button>
      </li>
      <li class="dropdown__item">
        <button class="dropdown__btn">Năm Phát Hành</button>
      </li>
      <li class="dropdown__item">
        <a class="dropdown__link" href="#">Người Nổi Tiếng</a>
      </li>
    </ul>

    <ul class="dropdown__menu">
      <li class="dropdown__item">
        <a class="dropdown__btn" href="#">Phim Thịnh Hành</a>
      </li>
      <li class="dropdown__item">
        <a class="dropdown__btn" href="#">Bảng Xếp Hạng</a>
      </li>
      <li class="dropdown__item">
        <a class="dropdown__link" href="#">Phim Sắp Phát Hành</a>
      </li>
    </ul>
  </body>
</html>
