<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="card__home3">
    <div class="card__list">
      <div class="card__item">
        <a href="#" class="card__link">
          <img
            src="https://i.ytimg.com/vi/5PSNL1qE6VY/hqdefault.jpg"
            alt="Avatar | Official Trailer (HD) | 20th Century FOX"
            loading="lazy"
            class="card__thumbnails"
          />
          <svg class="card__icon">
            <use href='../../imgs/icons.svg#icon-play'></use>
          </svg>
          <p class="card__title">Avatar | Official Trailer (HD) | 20th Century FOX</p>
        </a> 
      </div>
    </div>
  </div>
</body>
</html>