<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <script type="module" defer src="../../js/views/homeView.js"></script>
  </head>
  <body>
    <div class="home__card">
      <div class="card__list">
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__img-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <div class="card__hover">
              <a href="#" class="card__img-link">
                <img
                  src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                  alt="Minions: Sự Trỗi Dậy của Gru"
                  loading="lazy"
                  class="card__backdrop"
                />
              </a>

              <div class="card__overlay"></div>

              <button class="card__btn-wishlist card__btn--wishlist">
                <svg class="card__icon">
                  <use href="../../imgs/icons.svg#icon-bookmark"></use>
                </svg>
              </button>

              <div class="card__hover-info">
                <a href="#" class="card__link">
                  <h6 class="card__hover-title">Minions: Sự Trỗi Dậy của Gru</h6>
                </a>

                <p class="card__hover-info2"><span>1h 30p</span> - <span>2022</span> - <span>Chỉ từ 80.000 đ</span></p>

                <a href="#" class="card__link-btn card__link--trailer">Trailer</a>
              </div>
            </div>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
      </div>

      <button class="control-left__btn">
        <svg class="control-left__icon">
          <use href="../../imgs/icons.svg#icon-left-circle"></use>
        </svg>
      </button>

      <button class="control-right__btn">
        <svg class="control-right__icon">
          <use href="../../imgs/icons.svg#icon-right-circle"></use>
        </svg>
      </button>
    </div>
  </body>
</html>
