<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <div class="container card__home2">
      <div class="card__list">
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
        <div class="card__item">
          <div class="card__image">
            <a href="#" class="card__poster-link">
              <img
                src="https://www.themoviedb.org/t/p/w220_and_h330_face/y4SQ2dJ1y2LBUnxTH7hCe8sr29c.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__poster"
              />
            </a>

            <a href="#" class="card__backdrop-link">
              <img
                src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/jRss224yETAKKzqrOyudQo5ayUd.jpg"
                alt="Minions: Sự Trỗi Dậy của Gru"
                loading="lazy"
                class="card__backdrop"
              />
            </a>

            <a href="#" class="card__link-btn card__link--trailer">
              <svg class="card__icon">
                <use href='../../imgs/icons.svg#icon-play-circle'></use>
              </svg>
            </a>
          </div>

          <div class="card__info">
            <a href="#" class="card__link">
              <h6 class="card__title">Minions: Sự Trỗi Dậy của Gru</h6>
            </a>

            <p class="card__hover-info2"><span>Phim Gia Đình</span>, <span>Phim Hoạt Hình</span></p>

            <p class="card__title">
              <span>7.0</span>

              <svg class="star__icon">
                <use href="../../imgs/icons.svg#icon-star-fill"></use>
              </svg>

              <span>80.000 đ</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
