<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
    <div class="container">
      <div class="message__wrapper">
        <div class="message__main">
          <p class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nulla Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus magnam quisquam minima facilis suscipit? Laboriosam cum, praesentium atque culpa ipsum consequatur voluptates harum magni ratione suscipit, dolorum natus? Aliquam.</p>
        </div>
      </div>
    </div>
</body>
</html>