<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="container">
    <div class="card-movie-2__item">
      <div class="first">
        <a href="#" class="movie__poster movie__link">
          <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/qVdpItrjj0dSNGXE9CAaRIGSti2.jpg" alt="movie" loading="lazy">
        </a>
        <a href="#" class="movie__backdrop movie__link">
          <img src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/nW5fUbldp1DYf2uQ3zJTUdachOu.jpg" alt="movie" loading="lazy">
        </a>

        <button class="wishlist__btn">
          <svg class="wishlist__icon">
            <use href='../../imgs/icons.svg#icon-bookmark'></use>
          </svg>
        </button>

        <a href="#" class="trailer__link">
          <svg class="play__icon">
            <use href='../../imgs/icons.svg#icon-play-circle'></use>
          </svg>
        </a>

        <p class="movie__overview">Bộ phim kể về chuyến hành trình hành động kết hợp khoa học viễn tưởng nhằm giới thiệu câu chuyện về nguồn gốc của nhân vật Buzz Lightyear — người anh hùng đã truyền cảm hứng sáng tạo ra đồ chơi. “Lightyear” sẽ theo chân Cảnh Sát Vũ Trụ huyền thoại trong cuộc hành trình bước ra ngoài không gian cùng với một nhóm chiến binh đầy tham vọng và người bạn đồng hành là chú mèo máy Sox.</p>
      </div>

      <div class="end">
        <a href="#" class="movie__title">Lightyear: Cảnh Sát Vũ Trụ</a>

        <p class="movie__overview">Bộ phim kể về chuyến hành trình hành động kết hợp khoa học viễn tưởng nhằm giới thiệu câu chuyện về nguồn gốc của nhân vật Buzz Lightyear — người anh hùng đã truyền cảm hứng sáng tạo ra đồ chơi. “Lightyear” sẽ theo chân Cảnh Sát Vũ Trụ huyền thoại trong cuộc hành trình bước ra ngoài không gian cùng với một nhóm chiến binh đầy tham vọng và người bạn đồng hành là chú mèo máy Sox.</p>

        <p class="wrapper">
          <span>
            <span class="movie__vote-average">7.0</span>
  
            <svg class="star__icon">
              <use href='../../imgs/icons.svg#icon-star-fill'></use>
            </svg>
          </span>

          <span class="movie__price">80.000 đ</span>
        </p>
      </div>
    </div>
  </div>
</body>
</html>