<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.min.css" />
  </head>
  <body>
    <div class="pagination">
      <div class="container">
        <div class="pagination__main">
          <ul class="pagination__list">
            <li class="pagination__item pagination__left-double">
              <a href="#" class="left-double__link">
                <svg class="pagination__icon">
                  <use href="../../imgs/icons.svg#icon-left-double"></use>
                </svg>
              </a>
            </li>
            <li class="pagination__item pagination__left">
              <a href="#" class="left__link">
                <svg class="pagination__icon">
                  <use href="../../imgs/icons.svg#icon-left"></use>
                </svg>
              </a>
            </li>
            <li class="pagination__item">
              <a href="#" class="item__link">1</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="item__link">2</a>
            </li>
            <li class="pagination__item">
              <a href="#" class="item__link">3</a>
            </li>
            <li class="pagination__item pagination__etc">...</li>
            <li class="pagination__item pagination__right">
              <a href="#" class="right__link">
                <svg class="pagination__icon">
                  <use href="../../imgs/icons.svg#icon-right"></use>
                </svg>
              </a>
            </li>
            
          </ul>
          <div class="pagination__mobile">
              <a href="#" class="mobile__link">
                Xem thêm
                <svg class="pagination__icon">
                  <use href="../../imgs/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
        </div>
      </div>
    </div>

    <script src="../../js/views/paginationView.js"></script>
  </body>
</html>
