<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.min.css" />
  </head>
  <body>
    <div class="pagination">
      <a href="#" class="pagination__link pagination__link--first">
        <svg class="pagination__icon">
          <use href="../../imgs/icons.svg#icon-left-double"></use>
        </svg>
      </a>

      <a href="#" class="pagination__link pagination__link--prev">
        <svg class="pagination__icon">
          <use href="../../imgs/icons.svg#icon-left"></use>
        </svg>
      </a>

      <a href="#" class="pagination__link page__actived">1</a>

      <a href="#" class="pagination__link">2</a>

      <a href="#" class="pagination__link">3</a>

      <p class="pagination__etc">...</p>

      <a href="#" class="pagination__link pagination__link--next">
        <svg class="pagination__icon">
          <use href="../../imgs/icons.svg#icon-right"></use>
        </svg>
      </a>

      <a href="#" class="pagination-mobile__link--next">
        Xem thêm
        <svg class="pagination__icon">
          <use href="../../imgs/icons.svg#icon-arrow-next"></use>
        </svg>
      </a>
    </div>

    <script src="../../js/views/paginationView.js"></script>
  </body>
</html>
