<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.min.css" />
  </head>
  <body>
    
    <nav class="pagination__render">
      <ul class="pagination">
        <li class="page__item shown-md">
          <a class="page__link page__link--first" href="#">
            <svg class="page__icon">
              <use href="../../imgs/icons.svg#icon-left-double"></use>
            </svg>
          </a>
        </li>
        <li class="page__item shown-md">
          <a class="page__link page__link--previous" href="#">
            <svg class="page__icon">
              <use href="../../imgs/icons.svg#icon-left"></use>
            </svg>
          </a>
        </li>
        <li class="page__item shown-md">
          <a class="page__link" href="#">1</a>
        </li>
        <li class="page__item shown-md active">
          <a class="page__link" href="#">2</a>
        </li>
        <li class="page__item shown-md">
          <a class="page__link" href="#">3</a>
        </li>
        <li class="page__item shown-md disabled">
          <a class="page__link">...</a>
        </li>
        <li class="page__item shown-md">
          <a class="page__link page__link--next" href="#">
            <svg class="page__icon">
              <use href="../../imgs/icons.svg#icon-right"></use>
            </svg>
          </a>
        </li>
        <li class="page__item hidden-md page__item-mobile">
          <a class="page__link page__link--lazy-loading" href="#">
            Xem thêm
            <svg class="page__icon">
              <use href="../../imgs/icons.svg#icon-arrow-next"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <script src="../../js/views/paginationView.js"></script>
  </body>
</html>
