<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <div class="container">
      <!-- <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xeg0UhMmzSalvyK7kvhTHcKXIf8.jpg" alt="" /> -->

      <!-- *__________ Start popup wish-buy __________ -->
      <!-- <div class="popup-overlay">
      
        <div class="popup-wish-buy">
          
          <div class="wb-grid">

            <div class="wb-pic">
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie1" />
              </div>
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/qVdpItrjj0dSNGXE9CAaRIGSti2.jpg" alt="movie2" />
              </div>
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/xeg0UhMmzSalvyK7kvhTHcKXIf8.jpg" alt="movie3" />
              </div>
            </div>

            <div class="wb-top-text text-center text-left-sm">
              <h3 class="h3">Bạn muốn mua</h3>
              <p class="p">Các nội dung đã mua sẽ phát trên các thiết bị tương thích.</p>
            </div>

            <h6 class="wb-h1">Xu MovieStore: 3.200 xu</h6>

            <label class="wb-label form-control">
              -3.200 đ
              <input type="checkbox" name="checkbox" />
            </label>

            <div class="line"></div>

            <h6 class="wb-h2">Tổng: 2 phim</h6>

            <p class="wb-p1">210.000 đ / phim</p>

            <p class="wb-p2">80.000 đ / phim</p>

            <a href="#" class="btn wb-buy__btn">Mua: 420.000 đ</a>

            <a href="#" class="btn wb-rent__btn">Thuê: 80.000 đ</a>
          </div>

          <div class="wb-xmark__icon js-wb-cancel">
            <svg>
              <use href="../../imgs/icons.svg#icon-xmark"></use>
            </svg>
          </div>
          
        </div>
      </div> -->
      <!-- __________ End popup wish-buy __________ -->

      <!-- *__________ Start wish-buy-done __________ -->
      <!-- <div class="popup-overlay">

        <div class="popup-wish-buy-done">
          
          <div class="wb-grid">
  
            <div class="wb-pic">
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie1" />
              </div>
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/qVdpItrjj0dSNGXE9CAaRIGSti2.jpg" alt="movie2" />
              </div>
              <div class="pic-item">
                <img src="https://image.tmdb.org/t/p/w500/xeg0UhMmzSalvyK7kvhTHcKXIf8.jpg" alt="movie3" />
              </div>
            </div>
  
            <div class="wb-top-text text-center text-left-sm">
              <h3 class="h3">Mua thành công</h3>
              <p class="p">Các nội dung đã mua sẽ phát trên các thiết bị tương thích.</p>
            </div>
  
            <div class="wb-done__icon">
              <svg>
                <use href="../../imgs/icons.svg#icon-done"></use>
              </svg>
            </div>
  
            <a href="#" class="btn wb-myVideo__btn">Phim của tôi</a>
          </div>
  
          <div class="wb-xmark__icon js-wb-cancel">
            <svg>
              <use href="../../imgs/icons.svg#icon-xmark"></use>
            </svg>
          </div>
          
        </div>
      </div> -->
      <!-- __________ End wish-buy-done __________ -->
    </div>

    <!-- *__________ Start popup discover __________ -->
    <div class="discover__popup">
      <div class="discover__card">
        <div class="card__header">
          <div class="card__overlay"></div>

          <svg class="card__logo">
            <use href='../../imgs/icons.svg#icon-moviestore'></use>
          </svg>

          <h3 class="card__title">Nếu bạn chưa sẵn sàng đăng ký thành viên</h3>
          
        </div>

        <div class="card__main">
          <p>Dạo một vòng để khám phá thôi!</p>
          <a href="#" class="discover__link">Khám phá</a>
        </div>

        <button class="dismiss__btn">
          <svg class="dismiss__icon">
            <use href='../../imgs/icons.svg#icon-dismiss'></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- __________ End popup discover __________ -->

    <!-- *__________ Start Sign in __________ -->
    <div class="sign-in">
      <h3>Đăng nhập</h3>
      <form class="sign-in__form">
        <label class="email__input">
          <input type="email" name="email" id="email">
          <label for="email" class="placeholder_input">Email</label>
        </label>

        <label class="password__input">
          <input type="password" name="password" id="password">
          <label for="password" class="placeholder_input">Mật khẩu</label>
        </label>

        <input type="button" value="Đăng nhập">
      </form>
      <div class="">
        <label class="checkbox__input">
          <input type="checkbox" name="checkbox" id="checkbox"/>
          Nhớ cho lần đăng nhập tiếp theo
        </label>
        <button class="forgot-password__btn">Quên mật khẩu?</button>
      </div>

      <div class="signin__footer">
        <p>Bạn là thành viên mới?</p>
        <a href="#" class="signup__link">Đăng ký ngay.</a>
      </div>
    </div>
    <!-- __________ End Sign in __________ -->
  </body>
</html>
