<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="genres__popup">
    <div class="genres__wrapper">
      <div class="genres__list">
        <a href="#" class="genres__item">Phim Gia Đình</a>
      </div>
      
      <button type="button" class="btn__close">
        <svg class="btn__icon">
          <use href='../../imgs/icons.svg#icon-xmark'></use>
        </svg>
      </button>
    </div>
  </div>
</body>
</html>