<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="discover__popup">
    <div class="discover__card">
      <div class="card__header">
        <div class="card__overlay"></div>

        <svg class="card__logo">
          <use href='../../imgs/icons.svg#icon-moviestore'></use>
        </svg>

        <h3 class="card__title">Nếu bạn chưa sẵn sàng đăng ký thành viên</h3>
        
      </div>

      <div class="card__main">
        <p>Dạo một vòng để khám phá thôi!</p>
        <a href="#" class="discover__link">Khám phá</a>
      </div>

      <button class="dismiss__btn">
        <svg class="dismiss__icon">
          <use href='../../imgs/icons.svg#icon-dismiss'></use>
        </svg>
      </button>
    </div>
  </div>
</body>
</html>