<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
    <ul class="moreNav__popup">
      <li class="moreNav__item">
        <button class="moreNav__btn">Thể loại</button>
      </li>

      <li class="moreNav__item">
        <button class="moreNav__btn">Quốc gia</button>
      </li>

      <li class="moreNav__item">
        <button class="moreNav__btn">Năm Phát Hành</button>
      </li>

      <li class="moreNav__item">
        <a href="#" class="moreNav__link">Người Nổi Tiếng</a>
      </li>
    </ul>

    <ul class="moreNav__popup">
      <li class="moreNav__item">
        <a href="#" class="moreNav__link">Phim Thịnh Hành</a>
      </li>

      <li class="moreNav__item">
        <a href="#" class="moreNav__link">Bảng Xếp Hạng</a>
      </li>

      <li class="moreNav__item">
        <a href="#" class="moreNav__link">Phim Sắp Phát Hành</a>
      </li>
    </ul>
</body>
</html>