<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- ========== Start Custom css ========== -->
    <link rel="stylesheet" href="../../css/index.min.css" />
    <!-- ========== End Custom css ========== -->
    <script defer src="../../js/views/wishlistBuyView.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wishlistBuy__overlay">
        <div class="wishlistBuy__popup">
          <button type="button" class="btn__close">
            <svg class="btn__icon">
              <use href='../../imgs/icons.svg#icon-xmark'></use>
            </svg>
          </button>

          <div class="wishlistBuy__title">
            <div class="pic">
              <ul class="pic__list">
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>          
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>  
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>  
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>          
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>  
                <li class="pic__item">
                  <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/cjb9NXJvisfh5fmgX9rerxZfFrJ.jpg" alt="movie">
                </li>
              </ul>
            </div>
            <div class="title">
              <h5>Bạn muốn mua</h5>
              <p>Các nội dung đã mua sẽ phát trên các thiết bị tương thích.</p>
            </div>
          </div>
  
          <div class="wishlistBuy__xu_wrapper hidden">
            <div class="wishlistBuy__xu_wrap">
              <h6 class="h6">Xu MovieStore</h6>
              <p>Dùng 3.200 xu / 3200 xu</p>
            </div>
            <p class="wishlistBuy__xu_wrap">
              <label for="checkbox_xu">-3.200 đ</label>
              <input type="checkbox" name="checkbox_xu" id="checkbox_xu" class="wishlistBuy__checkbox_xu">
            </p>
          </div>
    
          <div class="wishlistBuy__pay_wrapper hidden">
            <div class="wishlistBuy__xu_wrap">
              <h6>Tổng thanh toán</h6>
              <p>(2 sản phẩm):</p>
            </div>
  
            <div class="wishlistBuy__pay_wrap_2">
              <div class="wishlistBuy__pay_wrap">
                <h6 class="h6">420.000 đ</h6>
                <button class="buy__btn wishlistBuy__pay_btn">Mua</button>
              </div>
              <div class="wishlistBuy__pay_wrap">
                <h6 class="h6">160.000 đ</h6>
                <button class="rent__btn wishlistBuy__pay_btn">Thuê</button>
              </div>
            </div>
          </div>

          <div class="wishlistBuy__done">
            <svg class="wishlistBuy__icon_done">
              <use href='../../imgs/icons.svg#icon-done'></use>
            </svg>
            <a href="#" class="buy__btn wishlistBuy__link_done">Phim của tôi</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
