<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
  <script defer src="../../js/views/popupSigninView.js"></script>
</head>
<body>
  <div class="signin__popup">
    <div class="signin__wrapper">
      <div class="signin__list">
        <form class="signin__item">
          <h2>Đăng nhập.</h2>
  
          <div class="signin__input-group email__group">
            <input type="email" name="email__input" id="email__input">
            <label for="email__input" class="placeholder__input">Email</label>
            <span class="signin__messeger">lỗi</span>
          </div>
  
          <div class="signin__input-group password__group">
            <input type="password" name="password__input" id="password__input">
            <label for="password__input" class="placeholder__input">Mật khẩu</label>
            <span class="signin__messeger">lỗi</span>
          </div>
          
  
          <button type="button" class="signin__btn">Đăng nhập</button>

          <div class="signin__group signin__checkbox">
            <div class="checkbox__group">
              <input type="checkbox" name="signin__checkbox" id="signin__checkbox"/>
              <label for="signin__checkbox">Nhớ cho lần đăng nhập tiếp theo</label>
            </div>
            <button class="signin__btn-para signin__btn--forgetpassword">Quên mật khẩu?</button>
          </div>
    
          <div class="signin__group">
            <p>Bạn là thành viên mới?</p>
            <a href="#" class="signup__link">Đăng ký ngay.</a>
          </div>
        </form>

        <form class="signin__item hidden">
          <h2>Bạn quên mật khẩu?</h2>

          <p>Nhập email của bạn.</p>

          <div class="signin__input-group">
            <input type="email" name="email__forget" id="email__forget">
            <label for="email__forget" class="placeholder__input">Email</label>
            <span class="signin__messeger">lỗi</span>
          </div>

          <button class="signin__btn signin__btn--continue">Tiếp tục</button>
        </form>

        <form class="signin__item hidden">
          <h2>Nhập mã xác minh.</h2>

          <div class="signin__input-group">
            <input type="number" name="number__confirm" id="number__confirm">
            <label for="number__confirm" class="placeholder__input">Mã xác minh</label>
            <span class="signin__messeger">lỗi</span>
          </div>

          <button class="signin__btn signin__btn--confirm">OK</button>
        </form>

        <form class="signin__item hidden">
          <h2>Tạo mật khẩu mới.</h2>

          <div class="signin__input-group">
            <input type="password" name="new__password" id="new__password">
            <label for="new__password" class="placeholder__input">Nhập mật khẩu</label>
            <span class="signin__messeger">lỗi</span>
          </div>

          <div class="signin__input-group">
            <input type="password" name="enter__password" id="enter__password">
            <label for="enter__password" class="placeholder__input">Nhập lại mật khẩu</label>
            <span class="signin__messeger">lỗi</span>
          </div>

          <button class="signin__btn signin__btn--createPassword">OK</button>
        </form>

        <div class="signin__item hidden">
          <h2>Tạo mật khẩu thành công.</h2>

          <svg class="signin__icon--done">
            <use href='../../imgs/icons.svg#icon-done'></use>
          </svg>

          <button class="signin__btn signin__btn--done">Đăng nhập</button>
        </div>

      </div>

      <button class="btn__close">
        <svg class="btn__icon">
          <use href='../../imgs/icons.svg#icon-xmark'></use>
        </svg>
      </button>
    </div>
  </div>
</body>
</html>