<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quia fugiat officia facere non rem vero veniam dolore a. Quibusdam, distinctio consectetur! Alias quod, cupiditate nulla eos modi possimus sapiente.</p>
    <div class="spinner__render">
      <ul class="spinner">
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
        <li class="seen"></li>
      </ul>
    </div>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime expedita officia quidem possimus distinctio, laborum, magnam sint sit quos iste maiores odio obcaecati facere at hic eius magni enim necessitatibus?</p>
</body>
</html>