<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>

  <div class="container">
    <div class="trailer__overlay hidden">
      <div class="trailer__wrapper">
        <div class="trailer__show">
          <iframe class="trailer__iframe" src="https://www.youtube.com/embed/TTwlhJzXHo4" title="HIEUTHUHAI - Vệ Tinh ft. Hoàng Tôn (prod. by Kewtiie) | OFFICIAL MV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <button type="button" class="btn__close trailer__btn--close">
          <svg class="btn__icon">
            <use href='../../imgs/icons.svg#icon-xmark'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</body>
</html>