.h6 {
  color: $color-white;
}

.account {
  margin-block: 3rem;
}


.account__wishlist {
  .account {  
    &__list {
      display: flex;
      flex-flow: column;
      row-gap: 1.2rem;
    }
    &__item {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      color: $color-gray-6;
    }
    &__checkbox {
      margin-inline: 1rem;
      flex-shrink: 0;
    }
    &__icon {
      width: 1.8rem;
      height: 1.8rem;
    }
    &__main {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: column;
      row-gap: 2.4rem;
      @media (min-width: $lg) {
        flex-flow: row;
      }
    }
    &__card {
      flex: 0 0 50%;
      display: flex;
      column-gap: 1.2rem;
      .backdrop__img {
        flex-shrink: 0;
        width: 50%;
      }
    }
    &__btn {
      display: flex;
      column-gap: 2.4rem;
      row-gap: 1.2rem;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      width: 100%;
      > * {
        width: 100%;
      }
      @media (min-width: $sm) {
        > * {
          width: 40%;
        }
      }
      @media (min-width: $sm) {
        flex-flow: row;
      }
      
    }
  }
}

.account {
  &__popup {
    width: 100%;
    padding-inline: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* From https://css.glass */
    background: rgba(24, 24, 24, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  &__xu {
    padding-block: 1.2rem;
    width: 100%;
    color: $color-gray-6;
    display: flex;
    border-bottom: thin dashed $color-gray-6;
    flex-flow: column;
    row-gap: 1.2rem;
    @media (min-width: $lg) {
      align-items: center;
      justify-content: space-between;
      flex-flow: row;
    }
    > * {
      flex: 0 0 50%;
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_wrap {
      display: flex;
      align-items: center;
      gap: 1.2rem
    }
    &_wrap:last-child {
      flex-shrink: 0;
    }
  }
  &__pay {
    margin-block: 2.4rem;
    width: 100%;
    height: 10.8rem;
    color: $color-gray-6;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    @media (min-width: $lg) {
      align-items: center;
      flex-flow: row;
    }
    &_wrap {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: $lg) {
        width: 50%;
      }
    }
    &_wrap_2 {
      flex-shrink: 0;
      display: flex;
      flex-flow: column;
      gap: 1.2rem;
    }
    &_btn {
      padding-inline: 2rem;
      @media (min-width: $sm) {
        padding-inline: 5rem;
      }
    }
  }
}
