@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI Light"), url("../../fonts/segoe-ui/light/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/light/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/light/segoeui.ttf") format("truetype");
  font-weight: 100;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Light Italic"), url("../../fonts/segoe-ui/light-italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/light-italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/light-italic/segoeui.ttf") format("truetype");
  font-weight: 100;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI Semilight"), url("../../fonts/segoe-ui/semilight/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/semilight/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/semilight/segoeui.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Semilight Italic"), url("../../fonts/segoe-ui/semilight-italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/semilight-italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/semilight-italic/segoeui.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI"), url("../../fonts/segoe-ui/regular/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/regular/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/regular/segoeui.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Italic"), url("../../fonts/segoe-ui/italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/italic/segoeui.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI Semibold"), url("../../fonts/segoe-ui/semibold/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/semibold/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/semibold/segoeui.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Semibold Italic"), url("../../fonts/segoe-ui/semibold-italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/semibold-italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/semibold-italic/segoeui.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI Bold"), url("../../fonts/segoe-ui/bold/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/bold/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/bold/segoeui.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Bold Italic"), url("../../fonts/segoe-ui/bold-italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/bold-italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/bold-italic/segoeui.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: local("Segoe UI Black"), url("../../fonts/segoe-ui/black/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/black/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/black/segoeui.ttf") format("truetype");
  font-weight: 900;
  font-display: fallback;
}
@font-face {
  font-family: SegoeUI;
  font-style: italic;
  src: local("Segoe UI Black Italic"), url("../../fonts/segoe-ui/black-italic/segoeui.woff2") format("woff2"), url("../../fonts/segoe-ui/black-italic/segoeui.woff") format("woff"), url("../../fonts/segoe-ui/black-italic/segoeui.ttf") format("truetype");
  font-weight: 900;
  font-display: fallback;
}
/* *__________ Start card-movie-2 __________ */
/* __________ End card-movie-2 __________ */
:root {
  --bs-gutter-x: 1.2rem;
  --bs-gap: 2.4rem;
  --html-font-size: 62.5%;
  --body-font-family: SegoeUI, sans-serif;
  --body-font-size: 1.6rem;
  --body-font-weight: 400;
  --body-font-style: normal;
  --body-line-height: 1.5;
  --body-color: #f1f1f1;
  --body-bg: #181818;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--html-font-size);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  /* Optional, not supported for all languages */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h6,
.h6, h5,
.h5, h4,
.h4, h3,
.h3, h2,
.h2, h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375em + 1.5vw);
}
@media (min-width: 75em) {
  h1,
.h1 {
    font-size: 2.5em;
  }
}

h2,
.h2 {
  font-size: calc(1.325em + 0.9vw);
}
@media (min-width: 75em) {
  h2,
.h2 {
    font-size: 2em;
  }
}

h3,
.h3 {
  font-size: calc(1.3em + 0.6vw);
}
@media (min-width: 75em) {
  h3,
.h3 {
    font-size: 1.75em;
  }
}

h4,
.h4 {
  font-size: calc(1.275em + 0.3vw);
}
@media (min-width: 75em) {
  h4,
.h4 {
    font-size: 1.5em;
  }
}

h5,
.h5 {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 1em;
}

p,
.p {
  font-size: 1.6rem;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

use {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
}

label {
  display: inline-block;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: 0;
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: inherit;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  border-radius: 0;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

button {
  padding: 0;
  font-weight: inherit;
}

input {
  border-radius: 0;
}

p {
  padding: 0;
}

a {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:disabled {
  cursor: not-allowed;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 36em) {
  .container-sm, .container {
    max-width: 54rem;
  }
}
@media (min-width: 48em) {
  .container-md, .container-sm, .container {
    max-width: 72rem;
  }
}
@media (min-width: 62em) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 96rem;
  }
}
@media (min-width: 75em) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 114rem;
  }
}
@media (min-width: 87.5em) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 132rem;
  }
}
.loading-bg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  background-color: #a9a9a9;
  background-image: linear-gradient(-60deg, transparent, transparent 40%, rgba(255, 255, 255, 0.2666666667) 40%, rgba(255, 255, 255, 0.2666666667) 60%, transparent 60%, transparent 100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 145%;
  -webkit-animation: across 1.5s linear 0.5s infinite;
          animation: across 1.5s linear 0.5s infinite;
}

@-webkit-keyframes across {
  0% {
    background-position-x: 145%;
  }
  50%, 100% {
    background-position-x: -45%;
  }
}

@keyframes across {
  0% {
    background-position-x: 145%;
  }
  50%, 100% {
    background-position-x: -45%;
  }
}
.btn {
  display: block;
  display: -webkit-box;
  cursor: pointer;
}

.show, .hide-xxl, .hide-xl, .hide-lg, .hide-md, .hide-sm {
  display: block !important;
}

.hide, .show-xxl, .show-xl, .show-lg, .show-md, .show-sm {
  display: none !important;
}

@media (min-width: 36em) {
  .show-sm {
    display: block !important;
  }
  .hide-sm {
    display: none !important;
  }
}
@media (min-width: 48em) {
  .show-md {
    display: block !important;
  }
  .hide-md {
    display: none !important;
  }
}
@media (min-width: 62em) {
  .show-lg {
    display: block !important;
  }
  .hide-lg {
    display: none !important;
  }
}
@media (min-width: 75em) {
  .show-xl {
    display: block !important;
  }
  .hide-xl {
    display: none !important;
  }
}
@media (min-width: 87.5em) {
  .show-xxl {
    display: block !important;
  }
  .hide-xxl {
    display: none !important;
  }
}
.shown {
  display: block !important;
}

.hidden {
  display: none !important;
}

.shown-sm {
  display: none !important;
}

@media (min-width: 36em) {
  .shown-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}
.shown-md {
  display: none !important;
}

@media (min-width: 48em) {
  .shown-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
.shown-lg {
  display: none !important;
}

@media (min-width: 62em) {
  .shown-lg {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
.shown-xl {
  display: none !important;
}

@media (min-width: 75em) {
  .shown-xl {
    display: block !important;
  }
  .hidden-xl {
    display: none !important;
  }
}
.shown-xxl {
  display: none !important;
}

@media (min-width: 87.5em) {
  .shown-xxl {
    display: block !important;
  }
  .hidden-xxl {
    display: none !important;
  }
}
.star__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FFCC00;
  margin-bottom: -2px;
}

.margin-header {
  height: 5.4rem;
}

.scroll-x {
  --scroll-width-x: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-x::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to left, #e30813, #b70045, #791b53, #3c2341, #181818);
}

.scroll-y {
  --scroll-width-y: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: var(--scroll-width-y, 1rem);
  height: var(--scroll-width-x, auto);
}
*::-webkit-scrollbar-track {
  background-color: #181818;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
*::-webkit-scrollbar-thumb {
  border: 0.2rem solid #181818;
  background-image: linear-gradient(to top, #e30813, #b70045, #791b53, #3c2341, #181818);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.headerIndex,
.header {
  width: 100%;
  max-width: 192rem;
  min-width: 30rem;
  margin: 0 auto;
  height: 5.4rem;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  transition: top 0.3s ease-out;
}
.headerIndex .nav,
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIndex .nav__list,
.header .nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.headerIndex .nav__list .signIn__btn,
.header .nav__list .signIn__btn {
  color: #f5f5f5;
  background: #E30813;
  width: 12rem;
  height: 3.6rem;
  border-radius: 0.8rem;
}
.headerIndex .nav__item,
.header .nav__item {
  position: relative;
  font-weight: bold;
}
.headerIndex .nav__item:hover,
.header .nav__item:hover {
  color: #E30813;
}
.headerIndex .nav__logo,
.header .nav__logo {
  width: 12rem;
  height: 2.5rem;
}
@media (min-width: 36em) {
  .headerIndex .nav__logo,
.header .nav__logo {
    width: 14rem;
    height: 3rem;
  }
}
.headerIndex .nav__icon,
.header .nav__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.headerIndex .nav__icon--small,
.header .nav__icon--small {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
}
.headerIndex .nav__btn, .headerIndex .nav__link,
.header .nav__btn,
.header .nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 5.4rem;
}

.footer__copyright, .footer__moviestore, .footer__nav, .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #181818;
  padding-block: 3rem;
}
.footer > div + div {
  margin-top: 1.6rem;
}
.footer a {
  display: block;
  cursor: pointer;
}
.footer a:hover {
  color: #FF3B30;
  text-decoration: underline;
  -webkit-text-decoration-color: #FF3B30;
  text-decoration-color: #FF3B30;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
.footer a:hover.social-icon__link {
  transform: scale(1.8);
}
.footer__icon {
  width: 100%;
  padding: 1.1rem 0;
  flex-wrap: wrap;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.footer__icon > a + a {
  margin-left: 2.4rem;
}
.footer__icon .social-icon__link {
  width: 2.4rem;
  height: 2.4rem;
  transition: transform 0.3s ease-out;
}
.footer__icon .social-icon__link > * {
  width: 100%;
  height: 100%;
}
.footer__icon .social-icon__link:hover:nth-child(1) {
  color: #4267B2;
}
.footer__icon .social-icon__link:hover:nth-child(2) {
  color: #FF9500;
}
.footer__icon .social-icon__link:hover:nth-child(3) {
  color: #6441a5;
}
.footer__icon .social-icon__link:hover:nth-child(4) {
  color: #1DA1F2;
}
.footer__icon .social-icon__link:hover:nth-child(5) {
  color: #FF0000;
}
.footer__nav {
  width: 100%;
  padding: 1.2rem 0;
  flex-wrap: wrap;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.footer__nav + .nav {
  margin-top: 0;
}
.footer__moviestore {
  width: 100%;
  padding: 1.2rem 0;
  flex-wrap: wrap;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.footer__moviestore + .footer__moviestore {
  margin-top: 0;
}
.footer__moviestore .logo__icon {
  width: 14rem;
  height: 2.4rem;
}
.footer__copyright {
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  color: #737373;
}

.checkbox__input {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}

.checkbox__input + .checkbox__input {
  margin-top: 0.8rem;
}

.checkbox__input--disabled {
  color: #959495;
  cursor: not-allowed;
}

input[type=checkbox], input[type=radio] {
  /*Addifnotusingautoprefixer*/
  -webkit-appearance: none;
  /*Removemostallnativeinputstyles*/
  -moz-appearance: none;
       appearance: none;
  /*ForiOS<15*/
  background-color: currentColor;
  /*Notremovedviaappearance*/
  margin: 0;
  font: inherit;
  color: currentColor;
  height: 2.4rem;
  width: 2.4rem;
  border: 0.2rem solid currentColor;
  display: grid;
  place-content: center;
}

input[type=checkbox]::before, input[type=radio]::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f1f1f1;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type=radio] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
input[type=radio]::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=checkbox] {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
input[type=checkbox]::before {
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform-origin: bottom left;
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}
input[type=checkbox]:disabled {
  box-shadow: inset 1em 1em #959495;
  border: 0.2rem solid #959495;
  color: #959495;
  cursor: not-allowed;
}

.spinner__render {
  width: 300px;
  margin: 0 auto;
  padding: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.spinner__render .spinner {
  padding-left: 33px;
  margin: 0 auto;
  width: 67px;
  height: 67px;
  background: transparent;
  position: relative;
  transform: translateX(33.5px);
}
.spinner__render .spinner .seen {
  background: #f5f5f5;
  border-radius: 1.1rem;
  height: 18px;
  width: 4px;
  position: absolute;
  transform-origin: 2px 31px;
}
.spinner__render .spinner .seen:nth-child(1) {
  transform: rotate(36deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.1s linear;
          animation: opac 1s infinite 0.1s linear;
}
.spinner__render .spinner .seen:nth-child(2) {
  transform: rotate(72deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.2s linear;
          animation: opac 1s infinite 0.2s linear;
}
.spinner__render .spinner .seen:nth-child(3) {
  transform: rotate(108deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.3s linear;
          animation: opac 1s infinite 0.3s linear;
}
.spinner__render .spinner .seen:nth-child(4) {
  transform: rotate(144deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.4s linear;
          animation: opac 1s infinite 0.4s linear;
}
.spinner__render .spinner .seen:nth-child(5) {
  transform: rotate(180deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.5s linear;
          animation: opac 1s infinite 0.5s linear;
}
.spinner__render .spinner .seen:nth-child(6) {
  transform: rotate(216deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.6s linear;
          animation: opac 1s infinite 0.6s linear;
}
.spinner__render .spinner .seen:nth-child(7) {
  transform: rotate(252deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.7s linear;
          animation: opac 1s infinite 0.7s linear;
}
.spinner__render .spinner .seen:nth-child(8) {
  transform: rotate(288deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.8s linear;
          animation: opac 1s infinite 0.8s linear;
}
.spinner__render .spinner .seen:nth-child(9) {
  transform: rotate(324deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 0.9s linear;
          animation: opac 1s infinite 0.9s linear;
}
.spinner__render .spinner .seen:nth-child(10) {
  transform: rotate(360deg);
  opacity: 0;
  -webkit-animation: opac 1s infinite 1s linear;
          animation: opac 1s infinite 1s linear;
}

@-webkit-keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.btn__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #737373;
}
.btn__close:hover {
  color: #f5f5f5;
}
.btn__icon {
  width: 2rem;
  height: 2rem;
}

.goToTop {
  position: fixed;
  top: calc(100% - 6rem);
  right: 3rem;
  z-index: 90;
  display: none;
}
@media (min-width: 36em) {
  .goToTop {
    display: block;
  }
}
.goToTop__icon {
  transform: translateY(7.5rem);
  opacity: 0.5;
  transition: transform 0.5s ease-out;
  width: 4rem;
  height: 4rem;
}
.goToTop__icon:hover {
  opacity: 1;
  transform: translateY(-8px) !important;
}

p[title]:hover {
  position: relative;
}

p[title]:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 1em;
  padding: 0.3em 1em;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 1px 0 #000;
  width: 50%;
  z-index: 98;
}

p[title]:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 0.4em 0.4em 0 0.4em;
  bottom: 1em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}

.banner-card__item .movie__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-card__item .movie__link:hover > .card__overlay {
  opacity: 1;
}
.banner-card__item .movie__link:hover > .movie__title {
  opacity: 1;
  bottom: 1rem;
}
.banner-card__item .movie__link .card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7803921569) 0%, rgba(0, 0, 0, 0.431372549) 50.52%, rgba(0, 0, 0, 0.7607843137) 100%);
  display: none;
}
@media (min-width: 36em) {
  .banner-card__item .movie__link .card__overlay {
    display: block;
  }
}
.banner-card__item .movie__link .movie__title {
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: calc(100% - 2rem);
  opacity: 0;
  transition: all 0.3s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer__icon, .footer__nav, .footer__moviestore, .footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .content {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
  padding-block: 14rem 5rem;
}
@media (min-width: 62em) {
  .banner .content {
    padding-block: 20rem 10rem;
  }
}
.banner .content .title {
  display: flex;
  flex-flow: column;
  row-gap: 2.4rem;
}
.banner .content .title .banner__title {
  padding-top: 1rem;
  font-weight: bolder;
  font-size: 2.8rem;
}
@media (min-width: 36em) {
  .banner .content .title .banner__title {
    padding-inline: 5rem;
    font-size: 3rem;
  }
}
@media (min-width: 48em) {
  .banner .content .title .banner__title {
    padding-inline: 10rem;
    font-size: 3.4rem;
  }
}
@media (min-width: 62em) {
  .banner .content .title .banner__title {
    padding-inline: 14rem;
    font-size: 4.8rem;
  }
}
@media (min-width: 75em) {
  .banner .content .title .banner__title {
    padding-inline: 15rem;
    font-size: 5rem;
  }
}
@media (min-width: 87.5em) {
  .banner .content .title .banner__title {
    padding-inline: 20rem;
  }
}
.banner .content .title .banner__subtitle {
  font-size: 2rem;
}
@media (max-width: 62em) {
  .banner .content .title .banner__subtitle {
    font-size: 1.8rem;
  }
}
.banner .content .form__wrapper {
  display: flex;
  flex-flow: column;
  row-gap: 2.4rem;
}
.banner .content .form__wrapper .sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  row-gap: 2.4rem;
}
@media (min-width: 36em) {
  .banner .content .form__wrapper .sign-up {
    flex-flow: row;
  }
}
.banner .content .form__wrapper .sign-up .input__wrapper {
  position: relative;
  width: 100%;
  border-radius: 1.1rem;
  overflow: hidden;
}
@media (min-width: 36em) {
  .banner .content .form__wrapper .sign-up .input__wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.banner .content .form__wrapper .sign-up .input__wrapper .email__input {
  color: #222222;
  background: #f5f5f5;
  width: 100%;
  height: 4.9rem;
  padding-left: 1rem;
}
@media (min-width: 36em) {
  .banner .content .form__wrapper .sign-up .input__wrapper .email__input {
    width: 35rem;
  }
}
@media (min-width: 48em) {
  .banner .content .form__wrapper .sign-up .input__wrapper .email__input {
    width: 50rem;
  }
}
.banner .content .form__wrapper .sign-up .input__wrapper .email__input:focus {
  padding-top: 1rem;
}
.banner .content .form__wrapper .sign-up .input__wrapper .email__input:focus + .placeholder {
  font-weight: bold;
}
.banner .content .form__wrapper .sign-up .input__wrapper .placeholder {
  color: #737373;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  transition: top 0.3s;
}
.banner .content .form__wrapper .sign-up .sign-up__btn {
  flex-shrink: 0;
  font-weight: bold;
  color: #f5f5f5;
  background: #E30813;
  width: 100%;
  height: 4.9rem;
  border-radius: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 36em) {
  .banner .content .form__wrapper .sign-up .sign-up__btn {
    width: 15rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.header__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* From https://css.glass */
  background: rgba(24, 24, 24, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.sidebar {
  position: relative;
  top: 0;
  left: -28rem;
  transition: left 0.3s ease-out;
  color: #737373;
  background-color: #222222;
  max-width: 28rem;
  height: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow-y: auto;
}
.sidebar__btn, .sidebar__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  padding-left: 2.4rem;
  padding-block: 1rem;
  font-weight: bold;
}
.sidebar > .sidebar__link {
  height: 5.4rem;
}
.sidebar__logo {
  width: 14.5rem;
  height: 3rem;
}
@media (min-width: 36em) {
  .sidebar__logo {
    width: 19rem;
    height: 4rem;
  }
}
.sidebar__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.sidebar__list {
  display: flex;
  flex-flow: column;
}
.sidebar__list .sidebar__btn:hover, .sidebar__list .sidebar__link:hover {
  color: #f5f5f5;
  background: #E30813;
}
.sidebar__list .sidebar__btn {
  justify-content: start;
  width: 100%;
}

.popupWishlist__card {
  width: 100%;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.4rem;
  border-bottom: thin solid #333;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.popupWishlist__card:hover {
  background: #292929;
}
.popupWishlist__card .movie__poster {
  width: 28%;
  flex-shrink: 0;
}
.popupWishlist__card .movie__poster > * {
  border-radius: 0.8rem;
}
.popupWishlist__card .card__link {
  font-weight: bold;
}
.popupWishlist__card .card__link:hover {
  color: #f5f5f5;
}
.popupWishlist__card .card__btn:hover {
  color: #f5f5f5;
}
.popupWishlist__card .card__btn .card__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.popupWishlist__card .wrapper {
  width: 100%;
}

.header__wishlist {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  z-index: 10;
  color: #737373;
  background: #222222;
  width: 35rem;
  padding-block: 2.4rem;
  border-radius: 1.1rem;
  transition: top 0.6s ease-out;
}
.header__wishlist .wishlist__title {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  padding-bottom: 2.4rem;
  padding-inline: 2.4rem;
  border-bottom: thin solid #333;
  font-weight: bold;
  font-size: 1.8rem;
}
.header__wishlist .wishlist__title .wishlist__icon {
  width: 3rem;
  height: 3rem;
}
.header__wishlist .wrapper {
  max-height: 28rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.header__wishlist .wrapper .wishlist__list {
  display: flex;
  flex-flow: column;
}
.header__wishlist .wrapper .wishlist__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
  margin-block: 2.4rem;
  text-align: center;
}
.header__wishlist .wrapper .wishlist__empty .wishlist__icon {
  width: 5rem;
  height: 5rem;
}
.header__wishlist .wishlist__btn {
  display: flex;
  justify-content: space-evenly;
  padding-block: 2.4rem;
  border-top: thin solid #333;
}
.header__wishlist .wishlist__btn > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 0.8rem;
}
.header__wishlist .wishlist__btn .view__link {
  background: #292929;
}
.header__wishlist .wishlist__btn .view__link:hover {
  color: #f5f5f5;
  background: #333;
}
.header__wishlist .wishlist__btn .buy__btn {
  color: #f5f5f5;
  background: #E30813;
}

.header__account {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  z-index: 10;
  color: #737373;
  background-color: #222222;
  width: 28rem;
  padding-block: 1.4rem 2.4rem;
  border-radius: 1.1rem;
}
.header__account .account__list {
  display: flex;
  flex-flow: column;
}
.header__account .account__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  padding-inline: 2.4rem;
  padding-block: 1rem;
  font-weight: bold;
}
.header__account .account__link p:last-child {
  font-weight: normal;
  color: #FF9500;
}
.header__account .account__icon {
  width: 3rem;
  height: 3rem;
}
.header__account .account__status {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  background-color: #34C759;
  border-radius: 50%;
}
.header__account .account__item {
  position: relative;
}
.header__account .account__item .account__link:hover {
  color: #f5f5f5;
  background: #E30813;
}

.header__search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 5.4rem;
  z-index: 10;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding-block: 1.6rem;
  color: #737373;
  background: #222222;
  transition: top 0.5s ease-out;
}
.header__search .search__form {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.header__search .search__form .form__input {
  padding-block: 1rem;
  width: 100%;
  border-radius: 1rem;
  background: #333;
  transition: all 0.3s;
  height: 4.9rem;
  padding-left: 4rem;
}
.header__search .search__form .form__input:focus {
  padding-left: 1rem;
}
@media (max-width: 36em) {
  .header__search .search__form .form__input:focus + .cancel__btn {
    display: block;
  }
}
.header__search .search__form .form__input:focus ~ .form__btn {
  display: flex;
}
.header__search .search__form .form__input:focus ~ .form__icon {
  display: none;
}
.header__search .search__form .form__icon {
  display: block;
  margin-left: 1rem;
  height: 4.9rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header__search .search__form .form__btn {
  display: none;
  height: 4.9rem;
  position: absolute;
  top: 0;
  right: 6rem;
}
@media (min-width: 36em) {
  .header__search .search__form .form__btn {
    right: 1rem;
  }
}
.header__search .search__form .form__btn:hover {
  color: #f5f5f5;
}
.header__search .search__form .cancel__btn {
  width: 5rem;
  flex-shrink: 0;
  display: none;
}
.header__search .search__results,
.header__search .search__suggest,
.header__search .search__searched {
  display: flex;
  flex-flow: column;
}
.header__search .search__results .search__item,
.header__search .search__suggest .search__item,
.header__search .search__searched .search__item {
  padding-inline: 1rem;
  height: 4.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search .search__results .search__item:hover,
.header__search .search__suggest .search__item:hover,
.header__search .search__searched .search__item:hover {
  background: #292929;
  border-radius: 1rem;
}
.header__search .search__results .search__item .search__link,
.header__search .search__suggest .search__item .search__link,
.header__search .search__searched .search__item .search__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.header__search .search__results .search__item .search__btn:hover,
.header__search .search__suggest .search__item .search__btn:hover,
.header__search .search__searched .search__item .search__btn:hover {
  color: #E30813;
}
.header__search .suggest__title {
  padding-inline: 1rem;
  height: 4.9rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  z-index: 10;
  width: 22rem;
  background: #222222;
  color: #737373;
  font-weight: bold;
  border-radius: 1.1rem;
  padding-block: 1.6rem;
}
.dropdown__item {
  height: 4.9rem;
  padding-inline: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.dropdown__item:hover {
  background: #E30813;
  color: #f5f5f5;
}
.dropdown__btn, .dropdown__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* *__________ Start popup wish-buy __________ */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* From https://css.glass */
  background: rgba(34, 34, 34, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 1;
  visibility: visible;
}

.popup-wish-buy-done,
.popup-wish-buy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #737373;
  background-color: #222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem;
  border-radius: 1rem;
}
@media (max-width: 36em) {
  .popup-wish-buy-done,
.popup-wish-buy {
    padding: 2.4rem 1.2rem;
  }
}
.popup-wish-buy-done *,
.popup-wish-buy * {
  width: 100%;
}
.popup-wish-buy-done .wb-xmark__icon,
.popup-wish-buy .wb-xmark__icon {
  position: absolute;
  right: 1.5rem;
  top: -4.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
@media (max-width: 36em) {
  .popup-wish-buy-done .wb-xmark__icon,
.popup-wish-buy .wb-xmark__icon {
    top: 1.5rem;
  }
}
.popup-wish-buy-done .wb-grid,
.popup-wish-buy .wb-grid {
  display: grid;
  grid-template-areas: "pic text1 text1" "h1 h1 label1" "line1 line1 line1" "h2 p1 buyb" "o p2 rentb";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10rem;
  gap: 2.4rem;
}
@media (max-width: 36em) {
  .popup-wish-buy-done .wb-grid,
.popup-wish-buy .wb-grid {
    grid-template-areas: "pic pic pic pic" "text1 text1 text1 text1" "h1 h1 label1 label1" "line1 line1 line1 line1" "h2 p2 p2 p1" "rentb rentb buyb buyb";
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}
.popup-wish-buy-done .wb-grid > p,
.popup-wish-buy .wb-grid > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: right;
  align-self: center;
}
.popup-wish-buy-done .wb-grid > [class*=h],
.popup-wish-buy .wb-grid > [class*=h] {
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.popup-wish-buy-done .wb-grid > a,
.popup-wish-buy .wb-grid > a {
  background-color: #e30813;
  height: 4.3rem;
  color: #f5f5f5;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.popup-wish-buy-done .wb-grid > .wb-pic,
.popup-wish-buy .wb-grid > .wb-pic {
  grid-area: pic;
  position: relative;
  bottom: 15rem;
}
@media (max-width: 36em) {
  .popup-wish-buy-done .wb-grid > .wb-pic,
.popup-wish-buy .wb-grid > .wb-pic {
    height: 10rem;
    bottom: 15rem;
  }
}
.popup-wish-buy-done .wb-grid > .wb-pic .pic-item,
.popup-wish-buy .wb-grid > .wb-pic .pic-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 7rem 15rem;
  transition: transform 1s ease-out;
  width: 14rem;
  border-radius: 2rem;
  overflow: hidden;
}
.popup-wish-buy-done .wb-grid > .wb-top-text,
.popup-wish-buy .wb-grid > .wb-top-text {
  grid-area: text1;
}
@media (max-width: 36em) {
  .popup-wish-buy-done .wb-grid > .wb-top-text,
.popup-wish-buy .wb-grid > .wb-top-text {
    padding: 0 2rem;
  }
}
.popup-wish-buy-done .wb-grid > .wb-top-text > h3,
.popup-wish-buy .wb-grid > .wb-top-text > h3 {
  color: #f1f1f1;
  margin-bottom: 0.8rem;
}
.popup-wish-buy-done .wb-grid > .wb-h1,
.popup-wish-buy .wb-grid > .wb-h1 {
  grid-area: h1;
}
.popup-wish-buy-done .wb-grid > .wb-label,
.popup-wish-buy .wb-grid > .wb-label {
  grid-area: label1;
  justify-content: flex-end;
  white-space: nowrap;
}
.popup-wish-buy-done .wb-grid > .line,
.popup-wish-buy .wb-grid > .line {
  grid-area: line1;
  height: 0.1rem;
  background-color: #333;
}
.popup-wish-buy-done .wb-grid > .wb-h2,
.popup-wish-buy .wb-grid > .wb-h2 {
  grid-area: h2;
}
.popup-wish-buy-done .wb-grid > .wb-p1,
.popup-wish-buy .wb-grid > .wb-p1 {
  grid-area: p1;
}
.popup-wish-buy-done .wb-grid > .wb-p2,
.popup-wish-buy .wb-grid > .wb-p2 {
  grid-area: p2;
}
.popup-wish-buy-done .wb-grid > .wb-buy__btn,
.popup-wish-buy .wb-grid > .wb-buy__btn {
  grid-area: buyb;
}
.popup-wish-buy-done .wb-grid > .wb-rent__btn,
.popup-wish-buy .wb-grid > .wb-rent__btn {
  grid-area: rentb;
}

/* __________ End popup wish-buy __________ */
/* *__________ Start wish-buy-done __________ */
.popup-wish-buy-done .wb-grid {
  grid-template-areas: "pic text1 text1" "o1 done o2" "o1 mvb o2";
  grid-template-columns: 1fr 20rem 1fr;
  grid-template-rows: 10rem;
  gap: 2.4rem;
}
@media (max-width: 36em) {
  .popup-wish-buy-done .wb-grid {
    grid-template-areas: "pic pic pic" "text1 text1 text1" "o1 done o2" "o1 mvb o2";
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}
.popup-wish-buy-done .wb-grid > .wb-pic {
  bottom: 150%;
}
.popup-wish-buy-done .wb-grid > .wb-done__icon {
  grid-area: done;
}
.popup-wish-buy-done .wb-grid > .wb-myVideo__btn {
  grid-area: mvb;
}

/* __________ End wish-buy-done __________ */
.banner .banner__title {
  font-size: 5rem;
}
.banner .form__wrapper {
  margin-block: 5rem;
}
.banner .form__wrapper .search__form .input__group {
  position: relative;
  color: #737373;
  border-radius: 0.8rem;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 36em) {
  .banner .form__wrapper .search__form .input__group {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.banner .form__wrapper .search__form .input__group .text__search {
  height: 4.9rem;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}
@media (min-width: 36em) {
  .banner .form__wrapper .search__form .input__group .text__search {
    width: 49rem;
  }
}
@media (min-width: 62em) {
  .banner .form__wrapper .search__form .input__group .text__search {
    width: 70rem;
  }
}
.banner .form__wrapper .search__form .input__group .text__search:focus {
  padding-top: 1rem;
}
.banner .form__wrapper .search__form .input__group .text__search:focus + .placeholder {
  top: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.banner .form__wrapper .search__form .input__group .placeholder {
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transition: top 0.3s ease-out;
}

.vertical__rule {
  width: 0.2rem;
  height: 2.4rem;
  background: currentColor;
}

.certification {
  border: thin solid currentColor;
  padding-inline: 1rem;
}

.banner__detail {
  max-width: 1920px;
  margin: 0 auto;
  background: #181818;
  color: #f5f5f5;
}
.banner__wrapper {
  padding-block: 5.4rem 2.8rem;
  position: relative;
  display: flex;
  flex-flow: column;
  row-gap: 3.2rem;
}
.banner__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 62em) {
  .banner__backdrop {
    width: 70%;
  }
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(53% 65% at 50% 30%, rgba(0, 0, 0, 0) 3%, #181818 90%);
}
.banner__content {
  margin-top: 11.6rem;
  position: relative;
  display: flex;
  flex-flow: column;
  row-gap: 2.4rem;
  width: 50%;
}
@media (max-width: 62em) {
  .banner__content {
    margin-top: 6rem;
    width: 100%;
  }
  .banner__content > * {
    justify-content: center;
  }
}
.banner__content_1 {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.banner__content_2 {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  align-items: center;
}
.banner__poster {
  flex-basis: 30%;
  flex-shrink: 0;
}
.banner__text {
  display: flex;
  flex-flow: column;
  row-gap: 1.2rem;
}
.banner__title {
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 48em) {
  .banner__title {
    font-size: 4rem;
  }
}
@media (min-width: 62em) {
  .banner__title {
    text-align: left;
    font-size: 5rem;
  }
}
.banner__info {
  color: #737373;
}
@media (max-width: 62em) {
  .banner__info {
    color: #f5f5f5;
    text-align: center;
  }
}
.banner__wrap {
  display: flex;
  flex-flow: column;
  row-gap: 0.5rem;
  align-items: center;
}
.banner__btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 62em) {
  .banner__btn {
    flex-flow: column;
  }
}
.banner__btn_1 {
  flex-shrink: 0;
  display: flex;
  gap: 2.4rem;
}
@media (max-width: 48em) {
  .banner__btn_1 {
    width: 100%;
    flex-flow: column;
  }
}
.banner__btn_1 > * {
  height: 4.3rem;
  width: 100%;
  border-radius: 0.8rem;
  font-weight: bold;
}
@media (min-width: 48em) {
  .banner__btn_1 > * {
    width: 20rem;
  }
}
@media (min-width: 62em) {
  .banner__btn_1 > * {
    width: 16rem;
  }
}
.banner__btn_2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 62em) {
  .banner__btn_2 {
    justify-content: center;
  }
}
.banner__btn_2 > * {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  justify-content: center;
}
@media (max-width: 62em) {
  .banner__btn_2 > a {
    display: none;
  }
}
.banner__btn--buy {
  color: #f5f5f5;
  background: #E30813;
}
.banner__btn--rent {
  background: #222222;
}
.banner__btn--rent:hover {
  background: #333;
}
.banner__btn--wishlist {
  color: #737373;
}
.banner__btn--wishlist:hover {
  color: #f5f5f5;
}
.banner__btn--trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 19rem;
  height: 4.3rem;
  border-radius: 2.2rem;
  background: rgba(0, 0, 0, 0.5);
}
.banner__btn--trailer:hover {
  background: #111;
}
@media (max-width: 62em) {
  .banner__btn--trailer {
    margin: 0 auto;
  }
}
.banner__btn--trailer-hidden {
  display: none;
}
@media (min-width: 62em) {
  .banner__btn--trailer-hidden {
    display: block;
  }
}

.trailer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  /* From https://css.glass */
  background: rgba(24, 24, 24, 0.7019607843);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1019607843);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.trailer__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.trailer__show {
  position: relative;
  width: 300px;
  height: 200px;
}
@media (min-width: 36em) {
  .trailer__show {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 48em) {
  .trailer__show {
    width: 720px;
    height: 400px;
  }
}
@media (min-width: 75em) {
  .trailer__show {
    width: 1000px;
    height: 500px;
  }
}
.trailer__show > * {
  width: 100%;
  height: 100%;
}
.trailer__btn--close {
  top: -40px;
}

.wishlistBuy__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* From https://css.glass */
  background: rgba(24, 24, 24, 0.7019607843);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1019607843);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@media (max-width: 36em) {
  .wishlistBuy__overlay {
    display: none !important;
  }
}
.wishlistBuy__popup {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  background: #222222;
  border-radius: 1.1rem;
  padding: 3rem 1rem;
}
@media (min-width: 48em) {
  .wishlistBuy__popup {
    padding: 2.8rem;
    width: 69rem;
  }
}
.wishlistBuy__popup p {
  color: #737373;
}
.wishlistBuy__title {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  flex-flow: column;
  text-align: center;
}
@media (min-width: 36em) {
  .wishlistBuy__title {
    text-align: left;
    flex-flow: row;
  }
}
.wishlistBuy__title > * {
  flex-basis: 50%;
}
.wishlistBuy__title .pic {
  flex-shrink: 0;
  width: 100%;
  height: 30rem;
  position: relative;
}
.wishlistBuy__title .pic__list {
  width: 100%;
  height: 30rem;
  position: relative;
  transform: translateX(-50%);
  transform: rotate(0);
  transform-origin: 70px 340px;
  transition: all 1s ease-out;
}
@media (min-width: 48em) {
  .wishlistBuy__title .pic__list {
    left: 40%;
  }
}
@media (min-width: 36em) {
  .wishlistBuy__title .pic__list {
    left: 32%;
  }
}
.wishlistBuy__title .pic__item {
  position: absolute;
  transform-origin: 70px 340px;
  transition: transform 1s ease-out;
  width: 140px;
  height: 230px;
  background-color: #aeaeb2;
  border-radius: 23px;
  overflow: hidden;
  top: 0;
  transition: top 0.3s ease-out;
}
.wishlistBuy__title .pic__item:hover {
  top: -8px;
  z-index: 10;
}
.wishlistBuy__title .pic__link {
  height: 100%;
}
.wishlistBuy__title .title {
  display: flex;
  row-gap: 1rem;
  flex-flow: column;
}
.wishlistBuy__xu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: thin dashed #737373;
  row-gap: 1.2rem;
  padding-block: 1.2rem;
}
.wishlistBuy__xu_wrap {
  display: flex;
  gap: 1.2rem;
  flex-flow: column;
}
@media (min-width: 62em) {
  .wishlistBuy__xu_wrap {
    justify-content: space-between;
    flex-flow: row;
  }
}
.wishlistBuy__xu_wrap:last-child {
  flex-flow: row;
  flex-shrink: 0;
}
.wishlistBuy__pay_wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  margin-block: 1.2rem;
  width: 100%;
}
.wishlistBuy__pay_wrap_2 {
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}
.wishlistBuy__pay_wrap_2 button {
  width: 14rem;
}
.wishlistBuy__pay_wrap {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: flex-end;
}
.wishlistBuy__pay_btn {
  padding-inline: 2rem;
}
@media (min-width: 36em) {
  .wishlistBuy__pay_btn {
    padding-inline: 5rem;
  }
}
.wishlistBuy__done {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 2.4rem;
}
@media (min-width: 48em) {
  .wishlistBuy__done {
    margin-top: -40px;
  }
}
.wishlistBuy__icon_done {
  width: 10rem;
  height: 10rem;
}
.wishlistBuy__link_done {
  text-align: center;
  line-height: 3.8rem;
  width: 50%;
}
.wishlistBuy__message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 24, 24, 0.7019607843);
}
.wishlistBuy__message .message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  row-gap: 2.4rem;
  align-items: center;
  padding: 3rem;
  background: #222222;
  border-radius: 1.1rem;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.wishlistBuy__message .mess {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  align-items: center;
}
.wishlistBuy__message .mess > * {
  padding-inline: 2rem;
}

.buy__btn, .rent__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.rent__btn {
  color: #737373;
  background: #222222;
  border: thin solid #737373;
}
.rent__btn:hover {
  border: thin solid #333;
  color: #f5f5f5;
  background: #333;
}

.buy__btn {
  color: #f5f5f5;
  background: #E30813;
}

.remove__btn {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove__btn:hover {
  color: #f5f5f5;
  background: #333;
}

.img__btn {
  cursor: pointer;
}

.message__wrapper {
  position: fixed;
  top: 6.4rem;
  right: 1rem;
  width: calc(100% - 2rem);
  overflow: hidden;
  z-index: 111;
}
@media (min-width: 36em) {
  .message__wrapper {
    max-width: 30rem;
  }
}
.message__main {
  position: relative;
  top: 0;
  left: 100%;
  padding: 2rem;
  border-radius: 1.1rem;
  background: #222222;
  transition: left 0.3s ease-out;
}
.message__content {
  color: #FF9500;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */