%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  .content {
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    padding-block: 14rem 5rem;
    @media (min-width: $lg) {
      padding-block: 20rem 10rem;
    }
    .title {
      display: flex;
      flex-flow: column;
      row-gap: 2.4rem;
      .banner__title {
        font-weight: bolder;
        font-size: 2.8rem;
        @media (min-width: $sm) {
          padding-inline: 5rem;
          font-size: 3rem;
        }
        @media (min-width: $md) {
          padding-inline: 10rem;
          font-size: 3.4rem;
        }
        @media (min-width: $lg) {
          padding-inline: 14rem;
          font-size: 4.8rem;
        }
        @media (min-width: $xl) {
          padding-inline: 15rem;
          font-size: 5rem;
        }
        @media (min-width: $xxl) {
          padding-inline: 20rem;
        }
      }
      .banner__subtitle {
        font-size: 2rem;
        @media (max-width: $lg) {
          font-size: 1.8rem;
        }
      }
    }
    .form__wrapper {
      display: flex;
      flex-flow: column;
      row-gap: 2.4rem;
      // .sign-up__title {}
      .sign-up {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        row-gap: 2.4rem;
        @media (min-width: $sm) {
          flex-flow: row;
        }
        .input__wrapper {
          position: relative;
          width: 100%;
          @media (min-width: $sm) {
            width: fit-content;
          }
          .email__input {
            color: $color-tertiary;
            width: 100%;
            height: 4.9rem;
            border-radius: $border-radius-out;
            padding-left: 1rem;
            @media (min-width: $sm) {
              width: 35rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            @media (min-width: $md) {
              width: 50rem;
            }
            &:focus {
              padding-top: 1rem;
              + .placeholder {
                font-weight: bold;
              }
            }
          }
          .placeholder {
            color: $color-gray;
            position: absolute;
            top: 1.2rem;
            left: 1rem;
            transition: top .3s;
          }
        }
        .sign-up__btn {
          flex-shrink: 0;
          font-weight: bold;
          color: $color-while;
          background: $color-primary;
          width: 100%;
          height: 4.9rem;
          border-radius: $border-radius-out;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (min-width: $sm) {
            width: 15rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
          // .right__icon {}
        }
      }
    }
  }
}