.header__banner {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: $color-tertiary;
  text-align: center;
  .banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    perspective: 2000px;
    perspective-origin: -235px 840px;
    .background__3d {
      transform-style: preserve-3d;
      position: absolute;
      top: -70px;
      left: -310px;
      transform: scale(1.08);
      .bg-3d__rotate {
        position: absolute;
        transform: rotateY(320deg) rotateZ(20deg);
        .bg-slide__container {
          width: 1760px; // 10rem * 16 + 1rem * 16
          height: 950px;
          overflow: hidden;
          .bg-slide__animation {
            animation: tranX 60s linear infinite;
            .bg__grid {
              width: fit-content;
              display: flex;
              .bg-grid__item {
                display: grid;
                grid-template-columns: repeat(16, 10rem);
                grid-template-rows: repeat(5, 18rem);
                gap: 1rem;
                padding-inline: .5rem;
                .pic__item {
                  position: relative;
                  overflow: hidden;
                  background-color: #AEAEB2;
                  text-align: start;
                  transition: transform .3s;
                  &:hover {
                    transform: scale(1.07);
                    .movie__title {
                      opacity: 1;
                      bottom: 1rem;
                    }
                  }
                  .movie__title {
                    @include text-truncate(3);
                    padding-inline: 1rem;
                    position: absolute;
                    left: .5rem;
                    bottom: -50%;
                    opacity: 0;
                    transition: bottom .3s;
                  }
                  .movie__link {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .banner__content {
    padding-block: 20rem 18rem;
    max-width: 95rem;
    margin: 0 auto;
    @media (max-width: $xl) {
      max-width: 71rem;
    }
    @media (max-width: $lg) {
      max-width: 53rem;
    }
    @media (max-width: $md) {
      max-width: 50rem;
      padding-block: 12rem 10rem;
    }
    .banner__text {
      padding-inline: 1rem;
      .banner__title {
        font-size: 6rem;
        font-weight: bolder;
        padding-inline: 6rem;
        @media (max-width: $xl) {
          padding-inline: 5rem;
          font-size: 4.8rem;
        }
        @media (max-width: $lg) {
          padding-inline: 4rem;
          font-size: 3.4rem;
        }
        @media (max-width: $md) {
          font-size: 3rem;
        }
        @media (max-width: $sm) {
          font-size: 2.8rem;
        }
      }
      .banner__subtitle {
        padding-block: 1.6rem;
        @media (max-width: $lg) {
          font-size: 1.8rem;
        }
      }
    }
    .banner__signup {
      padding-inline: 1rem;
      .signup__title {
        margin-bottom: 2rem;
        padding-inline: 1rem;
      }
      .banner__form {
        max-width: 65rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $md) {
          align-items: stretch;
          flex-direction: column;
          row-gap: 2rem;
        }
        .email-input {
          display: block;
          position: relative;
          flex-grow: 1;
          .email__input {
            display: block;
            width: 100%;
            height: 4.8rem;
            padding-inline: 2rem;
            padding-block: 1.8rem .8rem;

            color: $color-tertiary;
            background: $color-while;

            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            @media (max-width: $md) {
              border-radius: 1rem;
            }
          }
          .input__placeholder {
            color: #666;
            font-weight: 500;
            position: absolute;
            top: 1.2rem;
            left: 2rem;
            transition: top .3s ease;
          }
        }
        .signup__btn {
          height: 4.8rem;
          width: 15rem;

          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 1rem;

          color: $color-while;
          background-color: $color-primary;

          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;

          font-size: 2rem;
          font-weight: bold;
          @media (max-width: $md) {
            border-radius: 1rem;
            align-self: center;
          }
          .signup__icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}

@keyframes tranX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1760px);
  }
}
