.banner-card__item {
  .movie__link {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
      > .card__overlay {
        opacity: 1;
      }
      > .movie__title {
        opacity: 1;
        bottom: 1rem;
      }
    }
    // .movie__poster {}
    .card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s;
      background: linear-gradient(0deg, #000000c7 0%, #0000006e 50.52%, #000000c2 100%);
      display: none;
      @media (min-width: $sm) {
        display: block;
      }
    }
    .movie__title {
      position: absolute;
      left: 1rem;
      bottom: 0;
      width: calc(100% - 2rem);
      opacity: 0;
      transition: all .3s ease-out;
      @include text-truncate(3);
    }
  }
}