%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8rem;
  border-radius: $border-radius-in;
  font-weight: bold;
  flex-shrink: 0;
  @include text-truncate();
}
.rent__btn {
  @extend %btn;
  color: $color-gray;
  background: $color-tertiary;
  border: thin solid $color-gray;
  &:hover {
    border: thin solid $color-normal;
    color: $color-while;
    background: $color-normal;
  }
}
.buy__btn {
  @extend %btn;
  color: $color-while;
  background: $color-primary;
}
.remove__btn {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $color-while;
    background: $color-normal;
  }
}
.img__btn {
  cursor: pointer;
}