.btn {
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: $color-gray;
    &:hover {
      color: $color-while;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
  }
}