%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.6rem;
}
.footer {
  padding-block: 3rem;
  @include margin-div(top, 1.6rem);
  a {
    display: block;
    cursor: pointer;
  }
  a:hover {
    color: #FF3B30;
    text-decoration: underline;
    -webkit-text-decoration-color: #FF3B30;
    text-decoration-color: #FF3B30;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    &.social-icon__link {
      transform: scale(1.8);
    }
  }
  &__icon {
    width: 100%;
    padding: 1.1rem 0;
    @extend %flex-center;
    > a + a {
      margin-left: 2.4rem;
    }
    .social-icon__link {
      width: $footer-icon;
      height: $footer-icon;
      transition: transform .3s ease-out;
      &:hover {
        &:nth-child(1){
          color: #4267B2
        }
        &:nth-child(2){
          color: #FF9500;
        }
        &:nth-child(3){
          color: #6441a5;
        }
        &:nth-child(4){
          color: #1DA1F2
        }
        &:nth-child(5){
          color: #FF0000;
        }
      }
    }
  }
  &__nav {
    width: 100%;
    padding: 1.2rem 0;
    @extend %flex-center;
    + .nav {
      margin-top: 0;
    }
  }
  &__moviestore {
    width: 100%;
    padding: 1.2rem 0;
    @extend %flex-center;
    + &__moviestore {
      margin-top: 0;
    }
    .ms-logo {
      height: 2.4rem;
    }
  }
  &__copyright {
    width: 100%;
    @extend %flex-center;
    color: $footer-color-secondary;
  }
}