.header {
  max-width: 192rem;
  min-width: 30rem;
  margin: 0 auto;
  // background: $color-tertiary;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
  color: $color-while;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: flex;
      align-items: center;
      column-gap: 2.4rem;
      .signIn__btn {
        color: $color-while;
        background: $color-primary;
        width: 12rem;
        height: 3.6rem;
        border-radius: $border-radius-in;
      }
    }
    &__item {
      position: relative;
      font-weight: bold;
      &:hover {
        color: $color-primary;
      }
    }
    &__logo {
      width: 14.5rem;
      height: 3rem;
      @media (min-width: $sm) {
        width: 19rem;
        height: 4rem;
      }
    }
    &__icon {
      width: 2.8rem;
      height: 2.8rem;
    }
    &__icon--small {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2rem;
      height: 2rem;
      opacity: .3;
    }
    &__btn,
    &__link {
      position: relative;
      display: flex;
      align-items: center;
      height: 5.4rem;
    }
  }
}
