.card__home1-2,
.card__home1-3,
.card__home1-4,
.card__home1-5,
.card__home1-6,
.card__home {
  .card {
    &__list {
      --bs-gutter-x: 2.4rem;
      display: flex;
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      margin-left: calc(-0.5 * var(--bs-gutter-x));
      transform: translate(0);
      transition: transform 0.2s ease-out 0.2s;
      @media (max-width: $sm) {
        transform: translate(0) !important;
      }
      > * {
        --cd-col: 3;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        flex: 0 0 auto;
        width: calc(100% / var(--cd-col));
        transition: width 0.2s ease-out 0.2s;
        scroll-snap-align: start;
        @media (min-width: $sm) {
          &:hover {
            width: calc(100% / var(--cd-col) + 100% / var(--cd-col));
            > .card__image > .card__backdrop {
              opacity: 0;
            }
            > .card__image > .card__hover {
              opacity: 1;
            }
          }
        }
        @media (min-width: $md) {
          --cd-col: 4;
        }
        @media (min-width: $lg) {
          --cd-col: 5;
        }
        @media (min-width: $xl) {
          --cd-col: 6;
        }
      }
    }
    &__item {
      display: flex;
      flex-flow: column;
      row-gap: 1.2rem;
    }
    &__image {
      position: relative;
      width: 100%;
      overflow: hidden;
      background: $color-placeholder;
      border-radius: $border-radius-out;
      @media (min-width: $sm) {
        height: 23.4rem;
      }
      @media (min-width: $lg) {
        height: 25rem;
      }
      @media (min-width: $xxl) {
        height: 29.4rem;
      }
    }
    &__img-link {
      width: 100%;
      height: 100%;
    }
    &__hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-out 0.2s;
      display: none;
      @media (min-width: $sm) {
        display: block;
      }
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
    }
    &__btn-wishlist {
      position: absolute;
      top: 1.2rem;
      left: 1.2rem;
      width: 3rem;
      height: 3rem;
      color: #888;
      &:hover {
        color: $color-while;
      }
      .card__icon {
        width: 100%;
        height: 100%;
      }
    }
    &__hover-info {
      position: absolute;
      left: 1.2rem;
      bottom: 1.2rem;
      width: calc(100% - 2.4rem);
      display: flex;
      flex-flow: column;
      row-gap: 1.2rem;
    }
    &__link-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.3rem;
      width: 12rem;
      border-radius: 2.2rem;
      background-color: rgba($color: #000000, $alpha: 0.6);
      font-weight: bold;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.8);
      }
    }
    &__hover-title {
      font-size: 1.8rem;
      @include text-truncate(2);
    }
    &__info {
      display: flex;
      flex-flow: column;
      row-gap: 0.8rem;
      @media (max-width: $sm) {
        font-size: calc(1.6rem - 0.5vw);
      }
    }
    &__hover-info2,
    &__title {
      @include text-truncate();
      @media (max-width: $sm) {
        font-size: calc(1.6rem - 0.5vw);
      }
    }
  }
}
