.card__home3-2,
.card__home3 {
  .card {
    &__list {
      --bs-gutter-x: 2.4rem;
      display: flex;
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      margin-left: calc(-0.5 * var(--bs-gutter-x));
      transform: translate(0);
      transition: transform 0.2s ease-out 0.2s;
      @media (max-width: $sm) {
        transform: translate(0) !important;
      }
      > * {
        --cd-col: 2;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        flex: 0 0 auto;
        width: calc(100% / var(--cd-col));
        scroll-snap-align: start;
        @media (min-width: $md) {
          --cd-col: 3;
        }
        @media (min-width: $lg) {
          --cd-col: 4;
        }
      }
    }
    &__link {
      position: relative;
      display: flex;
      flex-flow: column;
      row-gap: 1.2rem;
      &:hover {
        > .card__icon {
          color: $color-primary;
        }
      }
    }
    &__thumbnails {
      border-radius: $border-radius-out;
      overflow: hidden;
      height: 15rem;
      @media (min-width: $lg) {
        height: 19rem;
      }
    }
    &__icon {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3.8rem;
      height: 3.8rem;
    }
    &__title {
      font-weight: bold;
      @include text-truncate(2);
    }
  }
}
