.card__home5 {
  .card {
    &__list {
      --bs-gutter-x: 2.4rem;
      display: flex;
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      margin-left: calc(-0.5 * var(--bs-gutter-x));
      transform: translate(0);
      transition: transform 0.2s ease-out 0.2s;
      @media (max-width: $sm) {
        transform: translate(0) !important;
      }
      > * {
        --cd-col: 2;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        flex: 0 0 auto;
        width: calc(100% / var(--cd-col));
        scroll-snap-align: start;
        @media (min-width: $sm) {
          --cd-col: 3;
        }
        @media (min-width: $md) {
          --cd-col: 4;
        }
        @media (min-width: $lg) {
          --cd-col: 5;
        }
        @media (min-width: $xl) {
          --cd-col: 6;
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(222deg, #E276F3 0%, #807edcb5 100%);
      height: 8rem;
      width: 100%;
      border-radius: $border-radius-out;
    }
     &__title {
        @include text-truncate();
        font-weight: bold;
        padding-inline: 1.2rem;
        text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: .4);
      }
  }
}