.message {
  &__wrapper {
    position: absolute;
    top: 6.4rem;
    right: 1rem; // -300px
    width: calc(100% - 2rem);
    overflow: hidden;
    z-index: 111;
    @media (min-width: $sm) {
      max-width: 30rem;
    }
  }
  &__main {
    position: relative;
    top: 0;
    left: 100%;
    padding: 2rem;
    border-radius: $border-radius-out;
    background: $color-tertiary;
    transition: left .3s ease-out;
  }
  &__content {
    color: #FF9500;
    font-weight: 500;
  }
}