$color-normal: #333;
%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
%pagination-have {
  height: 4.3rem;
  color: $color-gray;
  border-radius: $border-radius-in;
  @extend %center-flex;
}
.pagination__render {
  position: relative;
}
.pagination {
  width: 100%;
  height: 4.9rem;
  border-radius: $border-radius-out;
  color: $color-gray;
  background: $color-tertiary;
  font-weight: bold;
  @extend %center-flex;
  column-gap: 0.2rem;
  .active {
    color: $color-while;
    background: $color-normal;
  }
  .disabled {
    color: $color-disabled;
    cursor:  not-allowed;
  }
  .page {
    &__item {
      width: 6rem;
      height: 4.3rem;
      border-radius: $border-radius-in;
      &:not(.disabled):hover {
        @extend .active;
      }
    }
    &__item-mobile {
      width: 15rem;
    }
    &__link {
      width: 100%;
      height: 100%;
      @extend %center-flex;
      column-gap: .8rem;
    }
    &__icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
