/* *__________ Start popup wish-buy __________ */
$wish-buy-radius: 1rem;
$widh-bg-color: #222;
$widh-color: #737373;
$wb-pic-width: 14rem;
$wb-pic-height: 10rem;
$wb-pic-radius: calc($wish-buy-radius * 2);
$wb-btn-bg-color: #e30813;
$wb-btn-color: #f5f5f5;
$wb-btn-radius: $wish-buy-radius;
$wb-line-color: #333;
$wb-btn-width: 3rem;

.popup-overlay {
  @include fixed-full();
  /* From https://css.glass */
  background: rgba(34, 34, 34, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 1;
  visibility: visible;
}

.popup-wish-buy-done,
.popup-wish-buy {
  @include absolute-center();
  color: $widh-color;
  background-color: $widh-bg-color;
  width: fit-content;
  padding: 3rem;
  border-radius: $wish-buy-radius;
  @media (max-width: $sm) {
    padding: 2.4rem 1.2rem;
  }
  * {
    width: 100%;
  }
  .wb-xmark__icon {
    position: absolute;
    right: calc(0.5 * $wb-btn-width);
    top: calc(-1.5 * $wb-btn-width);
    width: $wb-btn-width;
    height: $wb-btn-width;
    cursor: pointer;
    @media (max-width: $sm) {
      top: calc(0.5 * $wb-btn-width);
    }
  }
  .wb-grid {
    display: grid;
    grid-template-areas:
      'pic text1 text1'
      'h1 h1 label1'
      'line1 line1 line1'
      'h2 p1 buyb'
      'o p2 rentb';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem;
    // grid-template-rows: 1fr repeat(3, 7rem);
    gap: 2.4rem;
    @media (max-width: $sm) {
      grid-template-areas:
        'pic pic pic pic'
        'text1 text1 text1 text1'
        'h1 h1 label1 label1'
        'line1 line1 line1 line1'
        'h2 p2 p2 p1'
        'rentb rentb buyb buyb';
      grid-template-columns: repeat(4, 1fr);
      gap: 1.2rem;
    }
    > p {
      @include text-truncate();
      text-align: right;
      align-self: center;
    }
    > [class*='h'] {
      align-self: center;
      @include text-truncate(2);
    }
    > a {
      background-color: $wb-btn-bg-color;
      height: 4.3rem;
      color: $wb-btn-color;
      font-weight: bold;
      text-align: center;
      border-radius: $wish-buy-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      @include text-truncate();
    }
    > .wb-pic {
      grid-area: pic;
      position: relative;
      bottom: 15rem;
      @media (max-width: $sm) {
        height: $wb-pic-height;
        bottom: 15rem;
      }

      .pic-item {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: calc($wb-pic-width / 2) calc($wb-pic-height * 1.5);
        transition: transform 1s ease-out;
        width: $wb-pic-width;
        border-radius: $wb-pic-radius;
        overflow: hidden;
      }
    }
    > .wb-top-text {
      grid-area: text1;
      @media (max-width: $sm) {
        padding: 0 2rem;
      }
      > h3 {
        color: #f1f1f1;
        margin-bottom: 0.8rem;
      }
    }
    > .wb-h1 {
      grid-area: h1;
    }
    > .wb-label {
      grid-area: label1;
      justify-content: flex-end;
      white-space: nowrap;
    }
    > .line {
      grid-area: line1;
      height: 0.1rem;
      background-color: $wb-line-color;
    }
    > .wb-h2 {
      grid-area: h2;
    }
    > .wb-p1 {
      grid-area: p1;
    }
    > .wb-p2 {
      grid-area: p2;
    }
    > .wb-buy__btn {
      grid-area: buyb;
    }
    > .wb-rent__btn {
      grid-area: rentb;
    }
  }
}
/* __________ End popup wish-buy __________ */

/* *__________ Start wish-buy-done __________ */
.popup-wish-buy-done {
  .wb-grid {
    grid-template-areas: 'pic text1 text1' 'o1 done o2' 'o1 mvb o2';
    grid-template-columns: 1fr 20rem 1fr;
    grid-template-rows: 10rem;
    gap: 2.4rem;
    @media (max-width: $sm) {
      grid-template-areas:
        'pic pic pic'
        'text1 text1 text1'
        'o1 done o2'
        'o1 mvb o2';
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem;
    }
    > .wb-pic {
      bottom: 150%;
    }
    > .wb-done__icon {
      grid-area: done;
    }
    > .wb-myVideo__btn {
      grid-area: mvb;
    }
  }
}
/* __________ End wish-buy-done __________ */
%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* *__________ Start popup discover __________ */
.discover__popup {
  display: none;
  @media (min-width: $md) {
    display: block;
  }
  .discover__card {
    overflow: hidden;
    border-radius: 2.2rem;
    background: $color-tertiary;
    position: relative;
    display: flex;
    flex-flow: column;
    width: 28rem;
    height: 40rem;
    @media (min-width: $xl) {
      width: 36rem;
      height: 43rem;
    }
    .card__header {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      row-gap: 2.4rem;
      justify-content: flex-end;
      padding: 2rem;
      background-color: #333;
      background-image: url('../imgs/bg edit.png');
      background-size: cover;
      background-repeat: no-repeat;
      .card__logo {
        position: relative;
        width: 20rem;
        height: 3rem;
        @media (min-width: $xl) {
          height: 4rem;
          width: 25rem;
        }
      }
      .card__title {
        position: relative;
        font-size: 3rem;
        @media (min-width: $xl) {
          font-size: 4rem;
        }
      }
      .card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #22222220 0%, #222 90%);
        border-radius: 22px 22px 0px 0px;
      }
    }
    .card__main {
      margin: 1rem;
      display: flex;
      align-items: center;
      flex-flow: column;
      gap: 2.4rem;
      @media (min-width: $xl) {
        margin: 2rem;
        gap: 3rem;
        justify-content: space-between;
        flex-flow: row;
      }
      .discover__link {
        flex-shrink: 0;
        @extend %center-flex;
        width: 13rem;
        height: 4.3rem;
        font-weight: bold;
        border-radius: $border-radius-out;
        background: $color-primary;
        color: $color-while;
      }
    }
    .dismiss__btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      .dismiss__icon {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
/* __________ End popup discover __________ */