.search__main {
  display: none;
}
.search__popup {
  position: absolute;
  left: 0;
  top: 5.4rem;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  color: $color-gray;
  background: $color-tertiary;
  padding-block: 1.6rem;
  .search {
    &__form {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      .search__input {
        padding-block: 1rem;
        width: 100%;
        border-radius: 1rem;
        background: #333;
        transition: all 0.3s;
        height: 4.9rem;
        padding-left: 4rem;
        &:focus {
          padding-left: 1rem;
          @media (max-width: $sm) {
            + .cancel__btn {
              display: block;
            }
          }
          ~ .clear__btn {
            display: flex;
          }
          ~ .search__icon {
            display: none;
          }
        }
      }
      .search__icon {
        display: block;
        margin-left: 1rem;
        height: 4.9rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      .clear__btn {
        display: none;
        height: 4.9rem;
        position: absolute;
        top: 0;
        right: 6rem;
        @media (min-width: $sm) {
          right: 1rem;
        }
        &:hover {
          color: $color-while;
        }
      }
      .cancel__btn {
        width: 5rem;
        flex-shrink: 0;
        display: none;
      }
    }
    
  }
  .search__suggest,
  .search__searched {
    display: flex;
    flex-flow: column;
    .search__item {
      padding-inline: 1rem;
      height: 4.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background: #292929;
        border-radius: 1rem;
      }
      .search__link {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1rem;
      }
      .search__btn {
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  .suggest__title {
    padding-inline: 1rem;
    height: 4.9rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
}