%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* *__________ Start popup discover __________ */
.discover__popup {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 98;
  transform: translateX(-380px);
  transition: transform .4s ease-out;
  display: none;
  @media (min-width: $md) {
    display: block;
  }
  .discover__card {
    overflow: hidden;
    border-radius: 2.2rem;
    background: $color-tertiary;
    position: relative;
    display: flex;
    flex-flow: column;
    width: 28rem;
    height: 35rem;
    padding-bottom: 1.6rem;
    @media (min-width: $xl) {
      width: 33rem;
      height: 37rem;
    }
    .card__header {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      row-gap: 2.4rem;
      justify-content: flex-end;
      padding: 2rem;
      background-color: $color-primary;
      background-image: url('../../imgs/app-movie.png');
      background-size: 170%;
      background-repeat: no-repeat;
      .card__logo {
        position: relative;
        width: 15rem;
        height: 2rem;
        @media (min-width: $xl) {
          height: 3rem;
          width: 18rem;
        }
      }
      .card__title {
        position: relative;
        font-size: 2rem;
        @media (min-width: $xl) {
          font-size: 2.4rem;
        }
      }
      .card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #22222220 0%, #222 90%);
        border-radius: 22px 22px 0px 0px;
      }
    }
    .card__main {
      margin: 1rem;
      display: flex;
      align-items: center;
      flex-flow: column;
      gap: 2.4rem;
      @media (min-width: $xl) {
        margin: 2rem;
        gap: 3rem;
        justify-content: space-between;
        flex-flow: row;
      }
      .discover__link {
        flex-shrink: 0;
        @extend %center-flex;
        width: 13rem;
        height: 4.3rem;
        font-weight: bold;
        border-radius: $border-radius-out;
        background: $color-primary;
        color: $color-while;
      }
    }
    .btn__close {
      color: $color-while;
    }
  }
}
/* __________ End popup discover __________ */