.sidebar {
  color: $color-gray;
  background-color: $color-tertiary;
  max-width: 28rem;
  height: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &__btn,
  &__link {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
    padding-inline: 2.4rem;
    padding-block: 1rem;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
  }
  &__list {
    display: flex;
    flex-flow: column;
    .sidebar {
      &__btn,
      &__link {
        &:hover {
          color: $color-while;
          background: $color-primary;
        }
      }
      &__btn {
        justify-content: start;
        width: 100%;
      }
    }
  }
}