.spinner__render {
  width: 300px;
  margin: 0 auto;
  padding: 10rem;
  width: fit-content;
  .spinner {
    padding-left: 33px;
    margin: 0 auto;
    width: 67px;
    height: 67px;
    background: transparent;
    position: relative;
    transform: translateX(33.5px);
    .seen {
      background: $color-while;
      border-radius: $border-radius-out;
      height: 18px;
      width: 4px;
      position: absolute;
      transform-origin: 2px 31px;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transform: rotate(#{$i * 36}deg);
          opacity: 0;
          $second: 1;
          animation: opac #{$second + 's'} infinite #{$i * $second * 0.1 + 's'} linear;
        }
      }
    }
  }
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}