p[title]:hover {
  position: relative;
}

p[title]:hover:after {
  background: #111;
  background: rgba(0, 0, 0, .8);
  border-radius: .5em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 1em;
  padding: .3em 1em;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 1px 0 #000;
  width: 50%;
  z-index: 98;
}

p[title]:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, .8) transparent;
  border-width: .4em .4em 0 .4em;
  bottom: 1em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}