.wishlistBuy{
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    /* From https://css.glass */
    background: #181818b3;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    @media (max-width: $sm) {
      display: none !important;
    }
  }
  &__popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    background: $color-tertiary;
    border-radius: $border-radius-out;
    padding: 3rem 1rem;
    @media (min-width: $md) {
      padding: 2.8rem;
      width: 69rem;
    }
    p {
      color: $color-gray;
    }
  }
  &__title {
    display: flex;
    column-gap: 2.4rem;
    flex-flow: column;
    text-align: center;
    @media (min-width: $sm) {
      text-align: left;
      flex-flow: row;
    }
    > * {
      flex-basis: 50%;
    }
    .pic {
      flex-shrink: 0;
      width: 100%;
      height: 30rem;
      position: relative;
      &__list {
        width: 100%;
        height: 30rem;
        position: relative;
        transform: translateX(-50%);
        transform: rotate(0);
        transform-origin: calc(140px / 2) calc(230px + 110px);
        transition: all 1s ease-out;
        @media (min-width: $md) {
          left: 40%;
        }
        @media (min-width: $sm) {
          left: 32%;
        }
      }
      &__item {
        position: absolute;
        transform-origin: calc(140px / 2) calc(230px + 110px);
        transition: transform 1s ease-out;
        width: 140px;
        height: 230px;
        background-color: #aeaeb2;
        border-radius: 23px;
        overflow: hidden;
        top: 0;
        transition: top .3s ease-out;
        &:hover {
          top: -8px;
          z-index: 10;
        }
      }
      &__link {
        height: 100%;
      }
    }
    .title {
      display: flex;
      row-gap: 1rem;
      flex-flow: column;
    }
  }
  &__xu {
    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      border-bottom: thin dashed $color-gray;
      row-gap: 1.2rem;
      padding-block: 1.2rem;
    }
    &_wrap {
      display: flex;
      gap: 1.2rem;
      flex-flow: column;
      @media (min-width: $lg) {
        justify-content: space-between;
        flex-flow: row;
      }
    }
    &_wrap:last-child {
      flex-flow: row;
      flex-shrink: 0;
    }
  }
  &__pay {
    &_wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: 1.2rem;
      margin-block: 1.2rem;
      width: 100%;
    }
    &_wrap_2 {
      flex-shrink: 0;
      display: flex;
      flex-flow: column;
      gap: 1.2rem;
      button {
        width: 14rem;
      }
    }
    &_wrap {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      justify-content: flex-end;
    }
    &_btn {
      padding-inline: 2rem;
      @media (min-width: $sm) {
        padding-inline: 5rem;
      }
    }
  }
  &__done {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2.4rem;
    @media (min-width: $md) {
      margin-top: -40px;
    }
  }
  &__icon_done{
    width: 10rem;
    height: 10rem;
  }
  &__link_done {
    text-align: center;
    line-height: 3.8rem;
    width: 50%;
  }
  &__message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #181818b3;
    .message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: column;
      row-gap: 2.4rem;
      align-items: center;
      padding: 3rem;
      background: $color-tertiary;
      border-radius: $border-radius-out;
      box-shadow: 5px 5px 10px 5px rgba($color: #000000, $alpha: .1);
    }
    .mess {
      display: flex;
      column-gap: 2.4rem;
      align-items: center;
      > * {
        padding-inline: 2rem;
      }
    }
  }
}


