<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/index.min.css">
</head>
<body>
  <div class="container">
    <div class="news__grid">
      <div class="news__item">
        <div class="image">
          <img src="https://kenh14cdn.com/zoom/500_314/203336854389633024/2022/8/14/photo1660482386890-1660482387019855486358.png" alt="img">
        </div>
        
        <div class="text">
          <h6 class="title">
            Hạ Cánh Khẩn Cấp: Bom tấn đề tài thảm họa có vượt qua được Train to Busan?
          </h6>
  
          <p class="description">Bộ phim hành động, giật gân Hạ Cánh Khẩn Cấp (Emergency Declaration) với sự góp mặt của Song Kang Ho, Lee Byung Hun, Jeon Do Yeon được ví như Train to Busan phiên bản trên không.</p>
  
          <p class="time">
            2 ngày trước
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>