/* *__________ Start popup discover __________ */
.discover {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 98;
  transform: translateX(-380px);
  transition: transform .4s ease-out;
  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: 1.1rem;
    background: $color-gray-1;
    width: 28rem;
    height: 35rem;
    @media (min-width: $xl) {
      width: 33rem;
      height: 37rem;
    }
  }
  &__header {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    row-gap: 2.4rem;
    justify-content: flex-end;
    padding: 2rem;
    background-color: $color-primary;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__logo {
    position: relative;
    width: 15rem;
    height: 2rem;
    @media (min-width: $xl) {
      height: 3rem;
      width: 18rem;
    }
  }
  &__title {
    position: relative;
    font-size: 2rem;
    @media (min-width: $xl) {
      font-size: 2.4rem;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #22222220 0%, #222 90%);
    border-radius: 22px 22px 0px 0px;
  }
  &__main {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 2.4rem;
    @media (min-width: $xl) {
      margin: 2rem;
      gap: 3rem;
      justify-content: space-between;
      flex-flow: row;
    }
  }
}
/* __________ End popup discover __________ */