.news__detail {
  margin-top: 10rem;
}

.news__render {
  max-width: 99.2rem;
  margin: 0 auto;
  > p {
    margin-block: 1rem;
  }
}
.title__render {
  max-width: 99.2rem;
  margin: 0 auto;
  margin-bottom: 2.8rem;
  .author {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $color-gray;
  }
}
.source__render {
  max-width: 99.2rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: end;
  a {
    color: $color-primary;
    &:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }
}