.news {
  &__grid {
    margin-block: 2.4rem;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr .9fr;
    @media (min-width: $lg) {
      gap: 3rem;
    }
    @media (min-width: $xl) {
      grid-template-columns: 1fr 1fr .8fr;
      gap: 5rem;
    }
    > * {
      width: 100%;
      display: flex;
      gap: 1.2rem;
      grid-column: span 3;
    }
    .image {
      flex-basis: 50%;
      > * {
        border-radius: $border-radius-out;
      }
    }
    .text {
      flex-basis: 50%;
      display: flex;
      flex-flow: column;
      row-gap: .8rem;
      @media (min-width: $md) {
        flex-basis: 90%;
      }
      > p {
        color: $color-gray;
      }
      .title,
      .description {
        @include text-truncate(2);
      }
    }
  }
  
  &__item:nth-child(1) {
    flex-flow: column;
    grid-column: span 3;
    grid-row: span 2;
    @media (min-width: $lg) {
      grid-column: span 2;
    }
    
  }
  &__item:nth-child(2),
  &__item:nth-child(3) {
    @media (min-width: $lg) {
      flex-flow: column;
      grid-column: span 1;
    }
  }
}